.table-header {
    display: flex;
    flex-direction: row;
    background-color: #cccccc !important;
    .header-date,
    .header-status {
        flex: 1;
    }
    .header-name {
        flex: 3;
    }
    .header-content {
        color: #272652;
        font-weight: bold;
        font-size: 15px;
        padding: 1rem;
        background: #cccccc;
        text-transform: uppercase;
    }
    .header-split {
        border-right: 1px solid #ffffff;
    }
}

.table-body {
    .table-body-content {
        display: flex;
        flex-direction: row;
        .body-date,
        .body-status {
            flex: 1;
        }
        .body-name {
            flex: 3;
            color: #272652 !important;
            font-weight: 600;
        }
        .body-content {
            color: #222222;
            font-size: 15px;
            padding: 1rem;
            background: #ffffff;
            text-transform: capitalize;
            border: 1px solid #cccccc;
            border-top: none !important;
            vertical-align: middle;
        }
        .profile-img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        .center-img {
            width: 0px;
            height: 40px;
            border: none;
        }
    }
    .cell-split {
        border-right: none !important;
    }
}