<div style="padding: 10px 20px; border: solid 1px #888;">
    <h3>First Name: <span>Melvin Jr</span></h3>
    <h3>Middle Name: <span>Mangco</span></h3>
    <h3>Last Name: <span>Elayron</span></h3>
    <h3>Address: <span>Prk Pine Tree, Magugpo North</span></h3>
    <h3>Phone Number: <span>63975854968</span></h3>
    <h3>Email Address: <span>tyrone.brodoxz@gmail.com</span></h3>
    <h3>Status: <span>Active</span></h3>
    <hr>
    <h3>Registered Students</h3>
    Student 1 <br/>
    Student 2 <br/>
    Student 3 <br/>
</div>