<div id="dashboard-content" style="width: 80vw;">
    <div class="d-xl-flex justify-content-xl-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard/main']" routerLinkActive="active" class="collapse-item" style="cursor: pointer;">
                    <span>Home</span>
                </a>
            </li>
            <li class="breadcrumb-item active">
                <span>Library</span>
            </li>
        </ol>
        <div class="float-right d-xl-flex justify-content-xl-end total-number">
            <span class="d-xl-flex justify-content-xl-end align-items-xl-center">Total number of Parent/Guardian
            </span>
            <strong class="d-xl-flex justify-content-xl-center align-items-xl-center total-number-value">
                {{people.length}}</strong>
        </div>
    </div>
    <div class="d-xl-flex justify-content-xl-center align-items-xl-center title teacher-content title-full-width">
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center left-item-full">
            <i class="fas fa-users  title-icon-left"></i>
        </div>
        <div class="mid-item">
            <span class="text-uppercase d-xl-flex justify-content-xl-start align-items-xl-center list-title">Parent/Guardian</span>
        </div>
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center right-item">
            <span class="add-text">Add Parent/Guardian</span>
            <a data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus title-icon-right"></i>
            </a>
        </div>
    </div>
    <div class="d-xl-flex justify-content-xl-center align-items-xl-start list-wrapper">
        <div class="d-inline d-lg-flex d-xl-flex justify-content-xl-center align-items-xl-start content-list full-width">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="tbl-large-head">NAME</th>
                            <th class="tbl-large-head">EMAIL ADDRESS</th>
                            <th class="tbl-small-head">DATE CREATED</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="showSpinner">
                        <tr>
                            <td colspan="5">
                                <app-loading-spinner></app-loading-spinner>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="error && !showSpinner">
                        <tr>
                            <td class="no-content" colspan="5">
                                <p>{{ teacherMessage }}</p>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!showSpinner && !error">

                        <tr [ngClass]="{'inactive' : !getStatus(parent.status)}" class="teacher-data" *ngFor=" let parent of people
                            | filter: searchText
                            | paginate: { itemsPerPage: viewList, currentPage: p };
                            let i = index">
                            <ng-container>
                                <td>
                                    <a class="link-to-list" href="#">
                                        <div class="d-xl-flex align-items-xl-center list-content-item">
                                            <img class="border rounded-circle border-primary teacher-list-img" src="../../../../../../../assets/images/profile.jpg" />
                                            <span class="d-xl-flex align-items-xl-center listed-user">{{ parent.username }}</span>
                                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide">
                                                <a data-toggle="modal" data-target="#editModal">
                                                    <i class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options">
                                                    </i>
                                                </a>
                                                <a *ngIf="getStatus(parent.status)" data-toggle="modal" data-target="#archiveModal" (click)="getUsernameData(parent.username, 'teacher')">
                                                    <i class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options">
                                                    </i>
                                                </a>
                                                <a *ngIf="!getStatus(parent.status)" data-toggle="modal" data-target="#activateModal">
                                                    <i class="fa fa-undo d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options" (click)="getUsernameData(parent.username, 'teacher')">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td class="text-left" [ngClass]="{'active' : getStatus(parent.status)}">
                                    {{ parent.email }}
                                </td>
                                <td class="text-left" [ngClass]="{'active' : getStatus(parent.status)}">
                                    {{ dateCreated(parent.created) }}
                                </td>
                                <td class="text-left" [ngClass]="{'active' : getStatus(parent.status)}">{{parent.status}}
                                </td>
                            </ng-container>

                            <td *ngIf="people.length === 0" class="no-content" colspan="5">
                                <p>empty</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Parent/Guardian</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="user" [formGroup]="addStaffFOrm" (ngSubmit)="onSubmit()">
                    
                    <mat-form-field class="col-12">
                        <input matInput type="text" id="inputEmail" formControlName="email" placeholder="Email" required>
                      </mat-form-field>
            
                      <mat-form-field class="col-12">
                        <input matInput type="text" id="inputFirstname" formControlName="firstname" placeholder="First Name" required>
                      </mat-form-field>
            
                      <mat-form-field class="col-12">
                        <input matInput type="text" id="inputLastname" formControlName="lastname" placeholder="Last Name" required>
                      </mat-form-field>
            
                      <mat-form-field class="col-12">
                        <input matInput [type]="hide ? 'password' : 'text'" id="inputPassword" formControlName="password" placeholder="Password"
                          required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </mat-form-field>
            
                      <mat-form-field class="col-12">
                        <input matInput [type]="hide ? 'password' : 'text'" id="repassword" formControlName="repassword" placeholder="Re-enter Password"
                          required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </mat-form-field>
            
                      <div style="padding: 0px 15px; ">
                          <mat-checkbox id="continueModal">Do not close modal</mat-checkbox>
                      </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="width: 25%;" [disabled]="addStaffFOrm.valid === false">
                            Submit
                        </button>
                        <button type="button" class="btn btn-danger" style="width: 25%;" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show" aria-modal="true"
    style="display: none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">Archive</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to archive this user? Status will be set to 'INACTIVE'.
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary"> Cancel </button>
                <a data-dismiss="modal" (click)="addToArchive()" class="btn btn-primary" style="cursor: pointer;">Deactivate User</a>
            </div>
        </div>
    </div>
</div>

<div id="activateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show" aria-modal="true"
    style="display: none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">Activate</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to activate this user? Status will be set to 'ACTIVE'.
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary"> Cancel </button>
                <a data-dismiss="modal" (click)="pullFromArchive()" class="btn btn-primary" style="cursor: pointer;">Activate User</a>
            </div>
        </div>
    </div>
</div>


<div id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show" aria-modal="true"
    style="display: none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">Edit User</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Form body here.
                <br /> Fullname
                <br /> Position
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary"> Cancel </button>
                <a data-dismiss="modal" class="btn btn-primary" style="cursor: pointer;">Save Changes</a>
            </div>
        </div>
    </div>
</div>