

.calendar {
    padding: 10px;
  }
  // .col-auto.add-class {
  //   width: 100%;
  //   text-align: center;
  // }
  ::ng-deep .fc-event{
    cursor: pointer;
    &:hover{
      background-color: red;
    }
}

::ng-deep .fc-daygrid-day{
  cursor: pointer;
  &:hover{
    background-color: gray;
  }
}
