<!-- Begin Page Content -->
<!-- <div class="container-fluid"> -->
<!-- Page Heading -->
<!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table
    below. For more information about DataTables, please visit the
    <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.
  </p> -->

<!-- DataTales Example -->
<!-- <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Teacher List <a data-toggle="modal" data-target="#myModal"><i
            class="fas fa-fw fa-plus-circle"></i></a></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="dataTable_length">
                <label>
                  Show
                  <select class="custom-select custom-select-sm form-control form-control-sm" [(ngModel)]="viewList">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_filter" id="dataTable_filter">
                <label for="Search">
                  Search:
                  <input type="search" class="form-control form-control-sm" aria-controls="dataTable"
                    [(ngModel)]="searchText" />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Username</th>
            <th>Position</th>
            <th>Created</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Username</th>
            <th>Position</th>
            <th>Created</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngIf="showSpinner">
            <td colspan="5">
              <app-loading-spinner></app-loading-spinner>
            </td>
          </tr>
          <tr>
            <td *ngIf="error && !showSpinner" class="no-content" colspan="5">
              <p>No user added yet</p>
            </td>
          </tr>
          <ng-container *ngIf="showSpinner === false">
            <tr *ngFor="
              let staff of people
                | filter: searchText
                | paginate: { itemsPerPage: viewList, currentPage: p };
              let i = index
            ">
              <td>{{ staff.username }}</td>
              <td>{{ staff.position }}</td>
              <td>{{ staff.created }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div> -->
<!-- /.container-fluid -->

<div id="dashboard-content" style="width: 80vw;">
  <div class="d-xl-flex justify-content-xl-start">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#"><span>Dashboard</span></a>
      </li>
      <li class="breadcrumb-item active"><span>Student</span></li>
    </ol>
    <div class="float-right d-xl-flex justify-content-xl-end total-number">
      <span class="d-xl-flex justify-content-xl-end align-items-xl-center">Total number of Students:</span><strong
        class="d-xl-flex justify-content-xl-center align-items-xl-center total-number-value">
        <!-- {{people.length}} -->
      </strong>
    </div>
  </div>
  <div class="d-xl-flex justify-content-xl-center align-items-xl-center title teacher-content title-full-width">
    <div class="d-xl-flex justify-content-xl-center align-items-xl-center left-item-full">
      <i class="fa fa-user-secret title-icon-left"></i>
    </div>
    <div class="mid-item">
      <span class="text-uppercase d-xl-flex justify-content-xl-start align-items-xl-center list-title">staff &amp;
        teacher</span>
    </div>
    <div class="d-xl-flex justify-content-xl-center align-items-xl-center right-item">
      <span class="add-text">Add Staff &amp; Teacher</span><a data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus title-icon-right"></i></a>
    </div>
  </div>
  <div class="d-xl-flex justify-content-xl-center align-items-xl-start list-wrapper">
    <div class="d-inline d-lg-flex d-xl-flex justify-content-xl-center align-items-xl-start content-list full-width">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="tbl-large-head">NAME</th>
              <th class="tbl-large-head">POSITION</th>
              <th class="tbl-small-head">DATE CREATED</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody *ngIf="showSpinner">
            <tr>
              <td colspan="5">
                <app-loading-spinner></app-loading-spinner>
              </td>
            </tr>
          </tbody>
          <!-- <tbody *ngIf="error && !showSpinner"> -->
          <tbody>
            <tr>
              <td class="no-content" colspan="5">
                <p>{{ teacherMessage }}</p>
              </td>
            </tr>
          </tbody>
          <!-- <tbody *ngIf="!showSpinner && !error"> -->
          <tbody>
            <!-- 
            <tr [ngClass]="{'inactive' : !getStatus(staff.status)}" class="teacher-data" *ngFor="
                  let staff of people
                    | filter: searchText
                    | paginate: { itemsPerPage: viewList, currentPage: p };
                  let i = index
                "> -->
            <tr>
              <ng-container>
                <td>
                  <a class="link-to-list" href="#">
                    <div class="d-xl-flex align-items-xl-center list-content-item">
                      <img class="border rounded-circle border-primary teacher-list-img"
                        src="../../../../../../../assets/images/profile.jpg" /><span
                        class="d-xl-flex align-items-xl-center listed-user">
                        <!-- {{ staff.username }} -->
                      </span>
                      <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide">
                        <a data-toggle="modal" data-target="#editModal">
                          <i
                            class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options">
                          </i>
                        </a>
                        <!-- <a *ngIf="getStatus(staff.status)" data-toggle="modal" data-target="#archiveModal"
                          (click)="getUsernameData(staff.username, 'teacher')"> -->
                        <a>
                          <i
                            class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options">
                          </i>
                        </a>
                        <!-- <a *ngIf="!getStatus(staff.status)" data-toggle="modal" data-target="#activateModal"> -->
                        <a>
                          <!-- <i class="fa fa-undo d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"
                            (click)="getUsernameData(staff.username, 'teacher')"> -->
                          <i
                            class="fa fa-undo d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options">
                          </i>
                        </a>
                      </div>
                    </div>
                  </a>
                </td>
                <td class="text-left" [ngClass]="{'active' : getStatus(staff.status)}">position
                </td>
                <td class="text-left" [ngClass]="{'active' : getStatus(staff.status)}">date
                </td>
                <td class="text-left" [ngClass]="{'active' : getStatus(staff.status)}">status</td>
              </ng-container>

              <!-- <td *ngIf="people.length === 0" class="no-content" colspan="5"> -->
              <td class="no-content" colspan="5">
                <p>empty</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Staff Or Teacher</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="user" [formGroup]="addStaffFOrm" (ngSubmit)="onSubmit()">
          <!-- <div class="form-group">
            <label for="inputEmail">Email address <span class="validator" *ngIf="email.invalid && email.touched"> - Email is Required</span></label>
            <input required type="email" class="form-control" id="inputEmail" aria-describedby="email"
              placeholder="Enter email" formControlName="email">
          </div> -->
          <!-- <div class="form-group">
            <label for="inputFirstName">Firstname <span class="validator" *ngIf="firstname.invalid && firstname.touched"> - Firstname is required</span></label>
            <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstnameHelp"
              placeholder="Enter firstname" formControlName="firstname" formControlName="firstname">
          </div> -->
          <!-- <div class="form-group">
            <label for="inputMiddleName">Middle Name (Optional)</label>
            <input type="text" class="form-control" id="inputMiddleName" aria-describedby="middlenameHelp"
              placeholder="Enter email" formControlName="middlename">
            <small id="middlenameHelp" class="form-text text-muted">If you dont have one, you can just skip this field.</small>
          </div>
          <div class="form-group">
            <label for="inputLastName">Last Name <span class="validator" *ngIf="lastname.invalid && lastname.touched"> - Lastname is required</span></label>
            <input type="text" class="form-control" id="inputLastName" aria-describedby="lastnameHelp"
              placeholder="Enter email" formControlName="lastname">
          </div> -->
          <div class="form-group">
            <label for="inputLastName">Postition
              <span class="validator" *ngIf="position.invalid && position.touched">
                - Position is required</span></label>
            <input type="text" class="form-control" id="inputPosition" aria-describedby="positionHelp"
              placeholder="Enter Position" formControlName="position" />
          </div>
          <div class="form-group">
            <label for="inputLastName">Department
              <span class="validator" *ngIf="department.invalid && department.touched">
                - Department is required</span></label>
            <input type="text" class="form-control" id="inputDepartment" aria-describedby="departmentHelp"
              placeholder="Enter Department" formControlName="department" />
          </div>
          <div class="form-group">
            <label for="inputLastName">Username
              <span class="validator" *ngIf="username.invalid && username.touched">
                - Lastname is required</span></label>
            <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp"
              placeholder="Enter username" formControlName="username" />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password
              <span class="validator" *ngIf="password.invalid && password.touched">
                - Input 6 character or more</span></label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
              formControlName="password" />
          </div>
          <div class="form-group">
            <label for="inputReTypePassword">Re-type Password
              <span class="validator" *ngIf="repassword.invalid && repassword.touched">
                - Input 6 character or more</span></label>
            <input type="password" class="form-control" id="inputReTypePassword" placeholder="Password"
              formControlName="repassword" />
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox small">
              <input type="checkbox" class="custom-control-input" id="continueModal" />
              <label class="custom-control-label" for="continueModal">Do not close modal</label>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" style="width: 25%;" [disabled]="addStaffFOrm.valid === false">
              Submit
            </button>
            <button type="button" class="btn btn-danger" style="width: 25%;" data-dismiss="modal">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show"
  aria-modal="true" style="display: none;">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel" class="modal-title">Archive</h5><button type="button" data-dismiss="modal"
          aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        Are you sure you want to archive this user? Status will be set to 'INACTIVE'.
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary"> Cancel </button>
        <a data-dismiss="modal" (click)="addToArchive()" class="btn btn-primary" style="cursor: pointer;">Deactivate
          User</a>
      </div>
    </div>
  </div>
</div>

<div id="activateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show"
  aria-modal="true" style="display: none;">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel" class="modal-title">Activate</h5><button type="button" data-dismiss="modal"
          aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        Are you sure you want to activate this user? Status will be set to 'ACTIVE'.
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary"> Cancel </button>
        <a data-dismiss="modal" (click)="pullFromArchive()" class="btn btn-primary" style="cursor: pointer;">Activate
          User</a>
      </div>
    </div>
  </div>
</div>


<div id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show"
  aria-modal="true" style="display: none;">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel" class="modal-title">Edit User</h5><button type="button" data-dismiss="modal"
          aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        Form body here.
        <br /> Fullname
        <br /> Position
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary"> Cancel </button>
        <a data-dismiss="modal" class="btn btn-primary" style="cursor: pointer;">Save Changes</a>
      </div>
    </div>
  </div>
</div>