.fa-plus-circle {
    cursor: pointer;
}
.validator {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 5px 10px !important;
}

.no-content {
    color: #c0c0c0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
