

<div class="calendar" style="overflow-y: auto; height: 90vh !important;">
    <full-calendar id="full-calendar" [options]="calendarOptions"></full-calendar>
  </div>
  
  
  <!-- The Modal -->
  <div class="modal" id="addEvent">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Event</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
  
        <div class="modal-body">
          {{addEventDate}}
          <input type="text" [(ngModel)]="EventData">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" style="width: 25%" (click)="dateClick()">Submit</button>
          <!-- <button type="button" class="btn btn-danger" style="width: 25%" data-dismiss="modal">Close</button> -->
        </div>
  
  
  
      </div>
    </div>
  </div>