<div class="invitation-details">
    <div class="column">
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-4">
                    <!-- Reminder Here -->
                    <app-people-tab></app-people-tab>

                </div>
                <div class="column col-xl-8 col-md-8 mb-8" style="height: 55vh; overflow-y: auto;">
                    <!-- Post Here -->
                    <app-tabs></app-tabs>
                </div>
            </div>
        </div>
    </div>
</div>