@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html,
body,
:host {
    width: 100%;
    height: 100%;
    background: #1b1a3d !important;
}

.contenido {
    @include centered;
    height: 50%;
    width: 400px;
    background: #f1f1f1;
    // border:1px dotted lightgray;
}

p {
    text-align: center;
    padding-top: 20px;
    color: #222222;
    font-size: 10px;
    letter-spacing: 2.5px;
    font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 34px;
    margin-bottom: 5px;
    font-size: 30px;
    margin-bottom: 5px;
    color: #222222;
    margin-top: 35px;
}

form {
    width: 350px;
    margin: auto;
    text-align: center;
}

input,
button {
    outline: none;
    border: none;
    padding: 10px;
    text-align: center;
    width: 80%;
    color: #333333;
}

input[type="password"] {
    border: #D7D7D7 solid 0.5px;
    height: 40px;
    width: 90%;
    font-size: 15px;
    padding-top: 20px 5px 0px 5px;
    margin-top: 20px;
}

button {
    margin-top: 5px;
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
    // border: 1px solid rgba(#263238, 1);
    background: #2196f3;
    width: 90%;
}

.subtitle {
    font-size: 13px;
    line-height: 1.5;
    padding: 5px 18px;
    color: #888888;
}

.top-border-container {
    width: 100%;
    display: inline-flex;
    position: absolute;
    .top-border {
        width: 33.3%;
        height: 4px;
    }
}
