<div class="subject-details">
  <div class="column">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-12 full-width">
      <div class="class-info h-100 py-2">
        <div class="card-body">
          <div class="additional">
            <div class="more-info">
              <h1>{{classDetails.className}}</h1>
              <div class="stats">
                <div class="stat-group">
                  <i class="fa fa-group"></i>
                  <div class="title">Students</div>
                  <div class="value">{{classDetails.joined}}</div>
                </div>
                <div class="stat-group">
                  <i class="fa fa-paper-plane"></i>
                  <div class="title">Invitations</div>
                  <div class="value">{{classDetails.invitationRequest}}</div>
                </div>
                <div class="stat-group">
                  <i class="fa fa-exclamation"></i>
                  <div class="title">Pending</div>
                  <div class="value">{{classDetails.invitationPending}}</div>
                </div>
                <div class="stat-group">
                  <i class="fa fa-check"></i>
                  <div class="title">Accepted</div>
                  <div class="value infinity">{{classDetails.invitationAccepted}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-class">
          <div class="coords">Level: <span> Grade 12</span></div>
          <div class="coords">Subject: <span>{{classDetails.classSubject}}</span></div>
          <div class="coords">Status: <span>Active</span></div>
          <div class="coords">Created: <span>{{getDate(classDetails.classCreated)}}</span></div>
          <div class="coords">Description: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Fusce a volutpat mauris, at molestie lacus.
              Nam vestibulum sodales odio ut pulvinar.</span></div>
        </div>
        <div class="class-buttons">
          <div class="buttons">
            <button class="btn-live" data-toggle="modal" data-target="#createConference"><i
                class="fa fa-video"></i><span>Start Live</span></button>
            <button [routerLink]="['/user/t/classroom/invites']" (click)="invites()" class="btn-invite"><i
                class="fa fa-paper-plane"></i><span>Invite</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-md-12 mb-12">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-4">
          <!-- Reminder Here -->
          <app-reminders></app-reminders>
        </div>
        <div class="column col-xl-8 col-md-8 mb-8" style="height: 55vh; overflow-y: auto;">
          <!-- Post Here -->
          <app-posts></app-posts>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- The Modal ADD CLASSWORK -->
<div id="createConference" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
  aria-hidden="true">
  <!-- dialog -->
  <div class="modal-dialog">
    <!-- content -->
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h1 id="myModalLabel" class="modal-title">
          Input Topic
        </h1>
      </div>
      <!-- header -->

      <!-- body -->
      <div class="modal-body">
        <input type="text" [(ngModel)]="topic" >
      </div>
      <!-- body -->

      <!-- footer -->
      <div class="modal-footer">
        <button (click)="createRoom()">Create</button>
      </div>
      <!-- footer -->
    </div>
  </div>
</div>
<!-- dialog -->