<form class="user" [formGroup]="addClassWorkForm" (ngSubmit)="onSubmit()">

    <div *ngIf="showSpinnerLoad" style="position: absolute;z-index:90;top: 45%; left: 45%;">
        <app-loading-bar style="background: none;"></app-loading-bar>
    </div>
    <div *ngIf="showSpinnerLoad" style="background: rgba(0,0,0,0.8);width: 100%;height: 100%;position: absolute;z-index: 89;border-radius: 5px;">
    </div>
    <!-- content -->
    <div class="modal-content">

        <!-- header -->
        <div class="modal-header">
            <h1 id="myModalLabel" class="modal-title">
                Add Classwork
            </h1>
        </div>
        <!-- header -->

        <!-- body -->
        <div class="modal-body">
            <div class=" form-group">
                <label for="inputWorkTitle">
                    <span class="validator" *ngIf="workTitle.invalid && workTitle.touched">
                        Work Title is required</span>
                </label>
                <input type="text" class="form-control" id="inputWorkTitle" aria-describedby="workTitleHelp" placeholder="Enter Work Title"
                    formControlName="workTitle">
            </div>
            <div class=" form-group">
                <label for="inputWorkDescription">
                    <span class="validator" *ngIf="description.invalid && description.touched">
                        Work Decription is required</span>
                </label>
                <input type="text" class="form-control" id="inputWorkDescription" aria-describedby="workDescriptionHelp" placeholder="Enter Work Description"
                    formControlName="description">
            </div>
            <div class=" form-group">
                <label for="inputPoints">
                    <span class="validator" *ngIf="points.invalid && points.touched">
                        Points/Items is required</span>
                </label>
                <input type="text" class="form-control" id="inputPoints" aria-describedby="pointsHelp" placeholder="Enter Items/Points" formControlName="points">
            </div>

            <div class=" form-group">
                <label for="inputInstruction">
                    <span class="validator" *ngIf="instruction.invalid && instruction.touched">
                        instruction is required</span>
                </label>
                <input type="text" class="form-control" id="inputInstruction" aria-describedby="instructionHelp" placeholder="Enter Instructions"
                    formControlName="instruction">
            </div>

            <div class="form-group">
                <div class="date-container">
                    <div class="input-group-container">
                        <input class="date-picker" placeholder="yyyy-mm-dd (Due Date)" name="dp" formControlName="dueDate" ngbDatepicker #d="ngbDatepicker">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class=" form-group">
                <!-- <label for="inputName"><span class="validator" *ngIf="name.invalid && name.touched"> -->
                <!-- Class Name is required</span></label> -->
                <a (click)="file.click()" class="btn btn-primary btn-rounded">Upload</a> {{fileName}}
                <input type="file" id="file" class="work-file" #file (change)="onFileChange($event)">
            </div>
        </div>
        <!-- body -->

        <!-- footer -->
        <div class="modal-footer">
            <!-- <button class="btn btn-secondary" data-dismiss="modal">
                close
            </button>
            <button class="btn btn-default">
                Default
            </button> -->
            <!-- <app-loading-spinner style="background: none;" *ngIf="showSpinnerLoad"></app-loading-spinner> -->
            <button class="btn btn-primary">
                Submit
            </button>
            <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
        </div>
        <!-- footer -->
    </div>
</form>