<form class="user" [formGroup]="addClassWorkForm" (ngSubmit)="onSubmit()">

    <div *ngIf="showSpinnerLoad" style="position: absolute;z-index:90;top: 45%; left: 45%;">
        <app-loading-bar style="background: none;"></app-loading-bar>
    </div>
    <div *ngIf="showSpinnerLoad"
        style="background: rgba(0,0,0,0.8);width: 100%;height: 100%;position: absolute;z-index: 89;border-radius: 5px;">
    </div>
    <!-- content -->
    <div class="modal-content">

        <!-- header -->
        <div class="modal-header">
            <h1 id="myModalLabel" class="modal-title">
                Add Classwork
            </h1>
        </div>
        <!-- header -->

        <!-- body -->
        <div class="modal-body">
            <mat-form-field class="col-12">
                <input matInput type="text" id="inputWorkTitle" formControlName="workTitle"
                    placeholder="Classwork Title" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="text" id="inputWorkDescription" formControlName="workDescription"
                    placeholder="Description" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="number" id="inputPoints" formControlName="points" placeholder="Points" required>
            </mat-form-field>


            <mat-form-field class="col-12">
                <textarea matInput type="text" id="inputInstruction" formControlName="instruction"
                    placeholder="Instructions" required></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12">
                <mat-label>Due Date</mat-label>
                <input matInput formControlName="dueDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div class="col-12 row" style="padding: 10px;">
                <div class="col-4">
                    <input #file type="file" class="file" [hidden]="true" formControlName="fileName"
                        (change)="onFileChange($event)">
                    <a color="primary" mat-raised-button (click)="file.click()">Upload file</a>
                </div>

                <div class="col-8" style="align-self: center;">
                    {{fileName}}
                </div>
            </div>
        </div>
        <!-- body -->

        <!-- footer -->
        <div class="modal-footer">

            <button class="btn btn-primary">
                Submit
            </button>
            <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</form>