<div class="layout-content" data-scrollable>
    <div class="container-fluid">


        <button class="button back-btn" [routerLink]="['/user/t/classroom/class-work/details']">
            Class Details
        </button>
        <div class="card">
            <div class="p-a-1">
                <div class="layout-content" data-scrollable>
                    <div class="container-fluid">
                        <div class="page-heading">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="assets/images/vuejs.png" alt="" width="80" class="img-rounded">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="">Classwork Title Here</h4>
                                    <span class="text-muted">Submitted by </span><a href="#">Student Name</a>
                                </div>
                                <div class="media-right media-middle">
                                    <div style="width:50px">
                                        <a href="#" class="btn btn-white btn-sm"><i class="fas fa-chevron-left"></i></a>
                                        <a href="#" class="btn btn-primary btn-sm"><i
                                                class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="tab-content">
                                <div class="tab-pane active" id="first">
                                    <ul class="list-group m-b-0">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p>
                                                        <strong>Instruction: Some instructions here.</strong>
                                                    </p>
                                                    <small class="text-muted">ANSWER:</small>
                                                    <p>
                                                        This is what the student has answered,
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Obcaecati temporibus blanditiis iste itaque deleniti minima.
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row m-b-1">
                                                        <div class="col-md-3">
                                                            <strong>Score:</strong>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <input type="range" min="0" max="10" step="1"
                                                                        value="0">
                                                                </div>
                                                                <div class="media-right">
                                                                    <h4>
                                                                        <div class="value">0.0</div>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="2"
                                                            placeholder="Write comment"></textarea>
                                                    </div>
                                                    <a href="#"
                                                        class="btn btn-success btn-rounded pull-xs-right btn-sm">Set
                                                        Review <i class="fas fa-check"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <h4 class="page-heading">Review History</h4>
                        <div class="table-responsive">
                            <table class="table table-sm table-middle">
                                <thead>
                                    <tr>
                                        <th width="120">Submitted</th>
                                        <th>Student</th>
                                        <th class="center">Score</th>
                                        <th>Reviewed</th>
                                        <th width="80"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="label label-default">Feb 17th, 2016</span></td>
                                        <td><a href="#">John Smith</a></td>
                                        <td class="center"><span class="text-muted">n/a</span></td>
                                        <td><span class="text-muted">PENDING</span></td>
                                        <td class="right"><a href="#" class="btn btn-sm btn-primary">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="label label-default">Feb 17th, 2016</span></td>
                                        <td><a href="#">Andrew Brain</a>
                                        </td>
                                        <td class="center">512</td>
                                        <td class="text-muted">Feb 17th, 2016</td>
                                        <td class="right"><a href="#" class="btn btn-sm btn-default">Results</a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="label label-default">Feb 17th, 2016</span></td>
                                        <td><a href="#">Samantha Doe</a></td>
                                        <td class="center">123</td>
                                        <td class="text-muted">Feb 17th, 2016</td>
                                        <td class="right"><a href="#" class="btn btn-sm btn-default">Results</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>