<div style="padding: 10px 20px; border: solid 1px #888;">
    <h3>First Name: <span>Wilver</span></h3>
    <h3>Middle Name: <span>D</span></h3>
    <h3>Last Name: <span>Palubos</span></h3>
    <h3>Status: <span>Active</span></h3>
    <h3>Email Address: <span>brunskie@gmail.com</span></h3>
    <h3>Grade Level: <span>Grade 12</span></h3>
    <h3>Gender: <span>Female</span></h3>

    <hr>
    <h3>Active Classrooms</h3>
    Grade 12 - Grace <br />
    Grade 12 - Lopezz <br />

    <hr>
    <h3>Pending Invitations</h3>
    Grade 12 - Human <br />

</div>