.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(255, 255, 255, .1);
  border-left-color: #15959F;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}