<div class="parent-guardian tab-content">
    <div class="tab-table table">
        <div class="table-header">
            <div class="header-name header-content header-split">Name</div>
            <div class="header-badge header-content header-split">Badges</div>
            <div class="header-date header-content header-split">Date Invited</div>
            <div class="header-status header-content">Status</div>
        </div>
        <div *ngIf="showSpinner" class="table-body">
            <div class="retrieving-data">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </div>
        <div *ngIf="!showSpinner && error" class="table-body">
            <div class="table-body-content" *ngFor="let invites of invitedParent">
                {{errorMessage}}
            </div>
        </div>
        <div *ngIf="!showSpinner && !error" class="table-body">
            <div class="table-body-content" *ngFor="let invites of invitedParent">
                <div class="body-name body-content cell-split" style="text-transform: lowercase">
                    <img class="border rounded-circle border-primary profile-img"
                        src="../../../../../../../../assets/admin/img/avatars/avatar5.jpeg"> {{invites.email}}
                </div>
                <div data-toggle="modal" data-target="#addBadges" class="body-badge body-content cell-split">
                    <i class="add-badge" (click)="getAvailableBadges(invites.userID)" class="fa fa-plus"></i>
                </div>
                <div class="body-date body-content cell-split">
                    <img class="center-img"> {{getDate(invites.dateSent)}}
                </div>
                <div class="body-status body-content">
                    <img class="center-img"> {{invites.inviteStatus}}
                </div>
            </div>

        </div>
        <div class="table-footer">
            <div class="body-status body-content invite-button">
                <div class="center-img invite-student" data-toggle="modal" data-target="#invitePeople">Invite Student
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="invitePeople">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <form class="user" [formGroup]="inviteForm" (ngSubmit)="onSubmit()"> -->
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Send Invites</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <!-- <div class="modal-body" style="display: inline-flex; width: 100%;">
                    <input type="search" placeholder="Type a username" class="search-students" style="width: 100%;"
                        formControlName="username" list="mylist">
                    <datalist id="mylist">
                        <option *ngFor="let students of student" value="{{students.username}}">
                    </datalist>
                    <button class="btn btn-primary" style="width: 200px; margin-left: 10px;">Send Invite</button>
                </div> -->
            <div class="form">
                <p class="group">
                    <input [(ngModel)]="teacherSearchText" type="text" id="inputSearch" required>
                    <label for="inputSearch">Search Student</label>
                </p>
                <div class="table-container" style="max-height: 470px; overflow-y:auto">
                    <div *ngIf="inviting" class="table-body">
                        <div class="retrieving-data">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                    </div>
                    <table *ngIf="!inviting" class="table" style="table-layout:fixed; margin-bottom: 0px">
                        <thead>
                            <tr>
                                <th class="tbl-large-head" style="width: 20%">Name</th>
                                <th class="tbl-large-head" style="width: 50%">Email</th>
                                <th class="tbl-large-head" style="width: 30%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let students of student | filter: teacherSearchText">
                                <th class="" style="vertical-align: middle;">{{students.firstname}}</th>
                                <th class="" style="font-weight:100; vertical-align: middle; text-transform:lowercase">
                                    {{students.email}}</th>
                                <th class="">
                                    <div class="form" style="padding: 0px">
                                        <input style="font-size: 12px" (click)="inviteStudent(students)" type="submit"
                                            value="Invite">
                                    </div>
                                </th>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form">
                    <input type="submit" data-dismiss="modal" value="Done">
                </div>
            </div>


        </div>
    </div>
</div>


<!-- Add Badges -->
<div id="addBadges" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
    aria-hidden="true">
    <!-- dialog -->
    <div class="modal-dialog">
        <!-- content -->
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h1 id="myModalLabel" class="modal-title">
                    Add Badge
                </h1>
            </div>
            <!-- header -->

            <!-- body -->
            <div class="modal-body">
                <div *ngIf="noBadgeFound" class="table-body">
                    <div class="no-badge">
                        {{noBadgeMessage}}
                    </div>
                </div>
                <table *ngIf="!noBadgeFound" class="table" style="table-layout:fixed; margin-bottom: 0px">
                    <thead>
                        <tr>
                            <th class="tbl-large-head" style="width: 50%">Email</th>
                            <th class="tbl-large-head" style="width: 30%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let badges of badge">
                            <th class="" style="font-weight:100; vertical-align: middle; text-transform:lowercase">
                                {{badges.badgeName}}</th>
                            <th class="">
                                <div class="form" style="padding: 0px">
                                    <input style="font-size: 12px" (click)="adddBadgeOnStudent(badges.badgeID)"
                                        type="submit" value="Add Badge">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                    <!-- <tfoot>
                <tr>
                    <th class="tbl-large-head">Name</th>
                    <th class="tbl-large-head">Email</th>
                    <th class="tbl-large-head">Action</th>
                </tr>
            </tfoot> -->
                </table>
            </div>
            <!-- body -->

            <!-- footer -->
            <div class="modal-footer">
                <div class="form">
                    <!-- <input (click)="addBadgeName(badge)" type="submit" value="Add Badge"> -->
                </div>
            </div>
            <!-- footer -->
        </div>
    </div>
</div>
<!-- dialog -->