<div class="parent-guardian tab-content">
    <div class="tab-table table">
        <div class="table-header">
            <div class="header-name header-content">Name Student</div>
            <div class="header-date header-content">Date Invited</div>
            <div class="header-status header-content">Status</div>
        </div>
        <div *ngIf="showSpinner" class="table-body">
            <div class="retrieving-data">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </div>
        <div *ngIf="!showSpinner && error" class="table-body">
            <div class="table-body-content" *ngFor="let invites of invitedParent">
                {{errorMessage}}
            </div>
        </div>
        <div *ngIf="!showSpinner && !error" class="table-body">
            <div class="table-body-content" *ngFor="let invites of invitedParent">
                <div class="body-name body-content">{{invites.student}}</div>
                <div class="body-date body-content">{{getDate(invites.dateSent)}}</div>
                <div class="body-status body-content">{{invites.inviteStatus}}</div>
            </div>
        </div>
    </div>
</div>