<div class="parent-guardian tab-content">
    <div class="tab-table table">
        <div class="table-header">
            <div class="header-name header-content header-split">Name</div>
            <div class="header-badge header-content header-split">Add Badge</div>
            <div class="header-date header-content header-split">Date Invited</div>
            <div class="header-status header-content">Status</div>
        </div>
        <div *ngIf="showSpinner" class="table-body">
            <div class="retrieving-data">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </div>
        <div *ngIf="!showSpinner && error" class="table-body">
            <div class="table-body-content" *ngFor="let invites of invitedParent">
                {{errorMessage}}
            </div>
        </div>
        <div *ngIf="!showSpinner && !error" class="table-body">
            <div class="table-body-content" *ngFor="let invites of invitedParent">
                <div class="body-name body-content cell-split">
                    <img class="border rounded-circle border-primary profile-img"
                        src="../../../../../../../../assets/admin/img/avatars/avatar5.jpeg"> {{invites.email}}
                </div>
                <div class="body-badge body-content cell-split">
                    <i (click)="getAvailableBadges(invites.userID)" class="fa fa-plus"></i>
                </div>
                <div class="body-date body-content cell-split">
                    <img class="center-img"> {{getDate(invites.dateSent)}}
                </div>
                <div class="body-status body-content">
                    <img class="center-img"> {{invites.inviteStatus}}
                </div>
            </div>

        </div>
        <div class="table-footer">
            <div class="body-status body-content invite-button">
                <div class="center-img invite-student" data-toggle="modal" data-target="#invitePeople">Invite
                    Student</div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="invitePeople">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <form class="user" [formGroup]="inviteForm" (ngSubmit)="onSubmit()"> -->
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Send Invites</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <!-- <div class="modal-body" style="display: inline-flex; width: 100%;">
                    <input type="search" placeholder="Type a username" class="search-students" style="width: 100%;"
                        formControlName="username" list="mylist">
                    <datalist id="mylist">
                        <option *ngFor="let students of student" value="{{students.username}}">
                    </datalist>
                    <button class="btn btn-primary" style="width: 200px; margin-left: 10px;">Send Invite</button>
                </div> -->
            <input type="text" [(ngModel)]="teacherSearchText">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tbl-large-head">Name</th>
                        <th class="tbl-large-head">Email</th>
                        <th class="tbl-large-head">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let students of student | filter: teacherSearchText">
                        <th class="tbl-large-head">{{students.firstname}}</th>
                        <th class="tbl-large-head">{{students.email}}</th>
                        <th class="tbl-large-head"> <button class="btn btn-primary"
                                style="width: 200px; margin-left: 10px;"
                                (click)="inviteStudent(students)">Invite</button></th>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="tbl-large-head">Name</th>
                        <th class="tbl-large-head">Email</th>
                        <th class="tbl-large-head">Action</th>
                    </tr>
                </tfoot>
            </table>
            <div class="modal-footer">
            </div>
            <!-- </form> -->


            <!-- <form class="user" [formGroup]="addClassFOrm" (ngSubmit)="onSubmit()">

                <div class="modal-body">
                    <div class=" form-group">
                        <label for="inputName"><span class="validator" *ngIf="name.invalid && name.touched">
                                Class Name is required</span></label>
                        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp"
                            placeholder="Enter Class Name" formControlName="name">
                    </div>
          </form> -->

        </div>
    </div>
</div>