<!-- Start: sidebar -->
<div id="dashboard-sidebar">
  <ul class="list-unstyled sidebar-list">
    <a [routerLink]="[dashboardRoute]" routerLinkActive="active" class="collapse-item">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleDashboard}">{{toggleSidebar('dashboard')}}
        <i class="fas fa-tachometer-alt side-icon"></i><span style="font-weight: bold;">Dashboard</span></li>
    </a>
    <a *ngIf="isStudentSide" [routerLink]="[invitationRoute]" routerLinkActive="active" class="collapse-item">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleInvitation}">{{toggleSidebar('invitation')}}
        <i class="fa fa-envelope side-icon"></i><span style="font-weight: bold;">Invitations</span></li>
    </a>
    <!-- <a [routerLink]="['/dashboard/parents-list']" routerLinkActive="active" class="collapse-item "> -->
    <!-- <a routerLinkActive="active" class="collapse-item disabled">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleClass}">{{toggleSidebar('classes')}}
        <i class="fas fa-users side-icon"></i><span class="disabled" style="font-weight: bold;">Classes</span>
      </li>
    </a> -->

    <a *ngIf="isStudentSide" [routerLink]="['/user/s/library']" routerLinkActive="active" class="collapse-item">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleLibrary}">{{toggleSidebar('library')}}
        <i class="fa fa-envelope side-icon"></i><span style="font-weight: bold;">Library</span></li>
    </a>
    <a *ngIf="isStudentSide" [routerLink]="['/user/s/my-teachers']" routerLinkActive="active" class="collapse-item">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleMyTeachers}">{{toggleSidebar('myteachers')}}
        <i class="fa fa-envelope side-icon"></i><span style="font-weight: bold;">My Teachers</span></li>
    </a>
    <a *ngIf="isStudentSide" [routerLink]="['/user/s/my-badges']" routerLinkActive="active" class="collapse-item">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleMyBadges}">{{toggleSidebar('mybadges')}}
        <i class="fa fa-envelope side-icon"></i><span style="font-weight: bold;">My Badges</span></li>
    </a>
    <!-- <a routerLinkActive="active" class="collapse-item disabled">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleInvitation}">{{toggleSidebar('invitation')}}
        <i class="fas fa-users side-icon"></i><span class="disabled" style="font-weight: bold;">Invitation</span>
      </li>
    </a> -->
  </ul>
</div>
<!-- End: sidebar -->