<!-- Start: sidebar -->
<div id="dashboard-sidebar">
  <ul class="list-unstyled sidebar-list">
    <a [routerLink]="['/dashboard/main']" routerLinkActive="active" class="collapse-item">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleDashboard}">{{toggleSidebar('dashboard')}}
        <i class="fa fa-user-secret list-icon"></i><span style="font-weight: bold;">Dashboard</span></li>
    </a>
    <a [routerLink]="['/dashboard/staff-teacher-lists']" routerLinkActive="active" class="collapse-item">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleStaff}">{{toggleSidebar('staff')}}
        <i class="fa fa-user-secret list-icon"></i><span style="font-weight: bold;">Staff &amp; Teacher</span></li>
    </a>
    <a [routerLink]="['/dashboard/parents-list']" routerLinkActive="active" class="collapse-item disabled">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleParent}">{{toggleSidebar('parent')}}
        <i class="fa fa-users list-icon"></i><span class="disabled" style="font-weight: bold;">Parent/Guardian</span>
      </li>
    </a>
    <a [routerLink]="['/dashboard/student-lists']" routerLinkActive="active" class="collapse-item">
      <li class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center list-item"
        [ngClass]="{'active':toggleStudent}">{{toggleSidebar('student')}}
        <i class="fa fa-users list-icon"></i><span style="font-weight: bold;">Student</span>
      </li>
    </a>
  </ul>
</div>
<!-- End: sidebar -->