.disabled {
    pointer-events: none;
    cursor: not-allowed !important;
    color: #777777 !important;
}

.active {
    pointer-events: none;
    li {
        span {
            color: #007bff !important;
        }
        i {
            color: #007bff !important;
        }
    }
}
