<div style="width: 80%; position: absolute; padding: 0px 15px; display: inline-block;">
    <div class="card col-xl-4 col-md-4 mb-4 classwork-list" style="float:left; position:absolute">
        <div class="reminders">
            <!-- [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}" -->
            <div class="new-body" style="padding: 20px;">
                <div class="classwork-title">
                    <i class="fa fa-book" aria-hidden="true"></i> Student List
                    <a [routerLink]="['/user/p/add-student']" *ngIf="!showSpinner && !errorStatus"
                        class="add-classwork">
                        <i class="fa fa-plus add-reminder" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div>
                <div class="col align-items-center"
                    style="background: #ffffff !important; padding-top: 15px; overflow-y: scroll; height: 77.5vh;">
                    <!-- <div class="col" *ngIf="showSpinner">
                    <app-loading-spinner></app-loading-spinner>
                </div> -->

                    <div *ngIf="showSpinner" class="classwork-container">
                        <app-loading-spinner></app-loading-spinner>
                    </div>

                    <div *ngIf="errorStatus" class="classwork-container">
                        <div>
                            <h6
                                style="text-align: center;cursor: pointer;padding: 20px 5px;font-size: 25px;font-weight: 700;color: #888;">
                                Opps! Looks like you haven't added a student yet.</h6>
                        </div>

                        <!-- SEND THIS TO ADD NEW STUDENT COMPONENT -->
                        <div class="reminder-butt1">
                            <a [routerLink]="['/user/p/add-student']" class="d-block card-header py-3 collapsed"
                                style="cursor: pointer;" role="button" aria-expanded="false"
                                aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary work-title"
                                    style="text-align: center; cursor: pointer;">Add Student Now</h6>
                            </a>
                        </div>
                    </div>



                    <!-- IF STUDENTS FOUND -->

                    <!-- <div *ngIf="!errorStatus" class="classwork-container"> -->
                    <!-- <div class="col" *ngIf="error"> -->
                    <!-- <p class="no-classwork">No Student added</p> -->

                    <!-- Student #1 of this parent -->
                    <!--  -->
                    <div *ngIf="!showSpinner && !errorStatus" class="classwork-container">
                        <div *ngFor="let student of myStudent" class="selected-work reminder-butt1"
                            (click)="checkRoom(student)">
                            <a class="d-block card-header py-3 collapsed" role="button" aria-expanded="false"
                                aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary work-title">
                                    <span class="stude-name">{{student.firstname}} {{student.middlename}} {{student.lastname}}</span>
                                    <div class="reminder-details">
                                        <span>Grade 12</span>
                                        <p>Active</p>
                                    </div>
                                </h6>
                            </a>
                        </div>
                    </div>


                    <!-- Student #2 of this parent -->
                    <!-- <div class="reminder-butt1">
                            <a class="d-block card-header py-3 collapsed" role="button" aria-expanded="false"
                                aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary work-title">Wilver Deypalubos
                                    <div class="reminder-details">
                                        <span>Grade 11</span>
                                        <p>Active</p>
                                    </div>
                                </h6>
                            </a>
                        </div> -->

                    <!-- Student #3 of this parent -->
                    <!-- <div class="reminder-butt2">
                            <a class="d-block card-header py-3 collapsed" role="button" aria-expanded="false"
                                aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary work-title">Blythe Lobrigas
                                    <div class="reminder-details">
                                        <span>Grade 11</span>
                                        <p>Active</p>
                                    </div>
                                </h6>
                            </a>
                        </div> -->

                    <!-- Student #4 of this parent -->
                    <!-- <div class="reminder-butt1">
                            <a class="d-block card-header py-3 collapsed" role="button" aria-expanded="false"
                                aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary work-title">Ariel Delos Santos
                                    <div class="reminder-details">
                                        <span>Grade 12</span>
                                        <p>Active</p>
                                    </div>
                                </h6>
                            </a>
                        </div> -->


                    <!-- <p class="no-classwork">{{errorMessage}}</p> -->
                    <!-- </div> -->




                    <!-- <div *ngFor="let work of classWork; let i = index" class="classwork-container"> -->

                    <!-- Display notification for events here -->
                    <!-- Event # 1 -->
                    <!-- class="reminder-butt1" -->
                    <!-- (click)="viewAnswer = false" -->
                    <!-- <div *ngIf="!showSpinner" [className]="classWorkStyle(i)" -->
                    <!-- [ngClass]="{'selected-work' : activeClass === work.title}"> -->
                    <!-- (click)="isCollapsed[i] = !isCollapsed[i]"  data-toggle="collapse"  -->
                    <!-- <a (click)="viewClasswork(work)" class="d-block card-header py-3 collapsed" role="button" -->
                    <!-- aria-expanded="false" aria-controls="collapseCardExample"> -->
                    <!-- <h6 class="m-0 font-weight-bold text-primary work-title">{{work.title}} -->
                    <!-- {{getDate(dueDate)}} -->
                    <!-- <div class="reminder-details"> -->
                    <!-- <span>{{getDate(work.dueDate)}}</span> -->
                    <!-- <p>Due Date</p> -->
                    <!-- </div> -->
                    <!-- </h6> -->
                    <!-- </a> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div *ngIf="teacherAccount" class="view ctr"> -->
                    <!-- <p>
                        <a [routerLink]="['/teacher/class-details/class-work/quizzes']" class="btn btn-primary btn-rounded modal-buttons" data-toggle="modal" data-target="#myModalClasswork">
                            Quizzes
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </p> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="classExist" class="card column col-xl-8 col-md-8 mb-8 classwork-list"
        style="padding-left: 20px !important; float: right;">
        <!-- <div *ngIf="!showSpinner && error"
        style="width: 100%;text-align: center;border: none;height: 100vh; font-size: 30px;color: #777777;"
        class="reminders" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        Something went wrong! Please reload your browser.
    </div> -->
        <!-- <div *ngIf="!showSpinner&& !error" class="reminders" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}"> -->
        <div class="reminders">
            <div class="new-body2" style="padding: 20px; height: 70px;">
                <div class="classwork-title" style="display: inline-flex;">
                    <!-- {{viewClassWork.title}} -->
                    List of Classes Available for this student
                </div>
            </div>
            <!-- <div *ngIf="!classExist">
                No Class joined yet
            </div> -->
            <div>
                <div class="col align-items-center"
                    style="background: #ffffff !important; padding-top: 15px; padding-right: 0px; padding-bottom: 15px; height: 77.5vh;">
                    <div style="height: 100%; display: flex">

                        <div class="col col-md-4"
                            style="height: 100%; border-right: 1px #bbbbbb solid; overflow-y: auto;">
                            <div class="student-details">
                                <table class="table table-sm table-middle">
                                    <thead>
                                        <tr>
                                            <th class="center" colspan="2">Classes</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="view-answer" class="hover-student-answer">
                                            <td class="right-score">
                                                Class Name #1
                                            </td>
                                            <td>
                                                Subject #1
                                            </td>
                                        </tr>

                                        <tr class="view-answer" class="hover-student-answer">
                                            <td class="right-score selected">
                                                Class Name #2
                                            </td>
                                            <td>
                                                Subject #2
                                            </td>
                                        </tr>

                                        <tr class="view-answer" class="hover-student-answer">
                                            <td class="right-score">
                                                Class Name #3
                                            </td>
                                            <td>
                                                Subject #3
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col col-md-8" style="height: 100%;">

                            <div class="layout-content" data-scrollable>
                                <div class="container-fluid class-review">
                                    <!-- <button class="button back-btn" [routerLink]="['/user/t/classroom/class-work/details']">
                                            Class Details
                                        </button> -->
                                    <!-- <span *ngIf="isNull"> - Fetching Class Details</span> -->

                                    <!-- ngIf="workDetails" -->
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-md-12">
                                            <!-- <p *ngIf="workDetails"> -->
                                            <strong
                                                style="font-size: 20px; color: #272652; text-transform: uppercase;">Class
                                                Name #2</strong>
                                            <br />
                                            <hr>
                                            <strong>Class Description: </strong>
                                            <br />
                                            <p class="instructions-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
                                                volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut
                                                pulvinar.
                                            </p>
                                            <strong>Subject: </strong>
                                            <p>
                                                This is the Class Subject
                                            </p>
                                            <strong>Status: </strong>
                                            <p>
                                                Active
                                            </p>
                                            <strong>Teacher: </strong>
                                            <p>
                                                Twila Kate Lobrigas
                                            </p>
                                            <strong>Total # of Students: </strong>
                                            <p>
                                                120 Students
                                            </p>
                                            <br />
                                            <div>
                                                <!-- disabled -->
                                                <a class="review-classwork" style="float:left;">
                                                    <i class="fa fa-check add-reminder btn "
                                                        style="background: #CD3132 !important; color: #ffffff !important"
                                                        aria-hidden="true">
                                                        <span> View Classworks </span>
                                                    </i>
                                                </a>
                                                <!-- <a *ngIf="savingChanges" (click)="updateClassPoints(answerData)"
                                                        class="review-classwork" style="float:right; padding-right: 45px">
                                                        <app-loading-spinner style="background: none;"></app-loading-spinner>
                                                    </a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>