<div class="layout-content" data-scrollable>
    <div class="container-fluid">


        <button class="button back-btn" [routerLink]="['/user/s/classroom/class-work/details']">
            Class Details
        </button>
        <div class="card">
            <div class="p-a-1">
                <div class="layout-content" data-scrollable>
                    <div class="container-fluid">
                        <div class="page-heading">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="assets/images/vuejs.png" alt="" width="80" class="img-rounded">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="">{{workData.title}}</h4>
                                    <span class="text-muted">Assigned by </span><a href="#">{{classDetails.teacher}}</a>
                                </div>
                                <div class="media-right media-middle">
                                    <div style="width:50px">
                                        <a (click)="prev()" class="btn btn-white btn-sm"><i class="fas fa-chevron-left"></i></a>
                                        <a (click)="next()" class="btn btn-primary btn-sm"><i
                                                class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form [formGroup]="submitWorkForm" (ngSubmit)="onSubmit()">
                            <div class="card">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="first">
                                        <ul class="list-group m-b-0">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="full-width">
                                                        <p class="instruction">
                                                            <strong>Instruction:</strong>
                                                            {{workData.instruction}}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <ejs-richtexteditor #toolsRTE id='alltoolRTE'
                                                            formControlName="comment" [toolbarSettings]='tools'>
                                                        </ejs-richtexteditor>
                                                        <div class="uploaded" *ngIf="fileName">{{fileName}}</div>
                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        <div class="btns-work ctr">
                                                            <!-- Download files from teacher -->
                                                            <a (click)="download(workData.attachment)"
                                                                class="btn btn-primary btn-block btn-rounded">
                                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                                <br> Download Files</a>
                                                            <!-- Upload files / answer -->
                                                            <div class="break-line"></div>
                                                            <a (click)="file.click()"
                                                                class="btn btn-primary btn-block btn-rounded">
                                                                <i class="fa fa-upload" aria-hidden="true"></i>
                                                                <br> Upload Files</a>
                                                            <input type="file" id="file" class="work-file" #file
                                                                (change)="onFileChange($event)">
                                                            <div class="break-line"></div>
                                                            <button class="btn btn-success btn-block btn-rounded">
                                                                <i class="fas fa-check"></i>
                                                                <br> Submit Answer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div  *ngIf="showSpinner">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>