<div class="layout-content" data-scrollable>
    <div class="container-fluid">


        <button class="button back-btn" [routerLink]="['/user/t/classroom/class-work/details']">
            Class Details
        </button>
        <div class="card">
            <div class="p-a-1">
                <div class="layout-content" data-scrollable>
                    <div class="container-fluid">
                        <div class="page-heading">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="assets/images/vuejs.png" alt="" width="80" class="img-rounded">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="">{{workDetails.title}}</h4>
                                    <span class="text-muted">Assigned by: </span><a href="#">Instructor Name</a>
                                </div>
                                <div class="media-right media-middle">
                                    <div style="width:50px">
                                        <a [class.disabled]="disable" (click)="prev()" class="btn btn-white btn-sm"><i
                                                class="fas fa-chevron-left"></i></a>
                                        <a [class.disabled]="disable" (click)="next()" class="btn btn-primary btn-sm"><i
                                                class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="page-heading">Student Submitted</h4>
                        <div class="table-responsive">
                            <table class="table table-sm table-middle">
                                <thead>
                                    <tr>
                                        <th width="120">Submitted</th>
                                        <th>Student</th>
                                        <th class="center">Score</th>
                                        <th>Reviewed</th>
                                        <th>Answer</th>
                                        <th width="80"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="showSpinner">
                                        <td colspan="6">
                                            <app-loading-spinner></app-loading-spinner>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let submitted of submittedTask; let i = index">
                                        <td><span class="label label-default">Feb 17th, 2016</span></td>
                                        <td><a href="#">{{submitted.answeredBy}}</a></td>
                                        <td class="center"><span class="text-muted">{{submitted.points}}</span></td>
                                        <td><span class="text-muted">PENDING</span></td>
                                        <td><a *ngIf="submitted.attachmentFilename"
                                                (click)="download(submitted.attachment)"
                                                class="btn btn-sm btn-primary">download</a>
                                            <p *ngIf="!submitted.attachmentFilename">No Downloaded file</p>
                                        </td>
                                        <td class="right"><a href="#" class="btn btn-sm btn-primary" data-toggle="modal"
                                                data-target="#reviewModal" (click)="modalData(submitted)">Review</a>
                                        </td>
                                    </tr>
                
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- The Modal -->
<div class="modal" id="reviewModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Review Answer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card">
                    <div class="tab-content">
                        <div class="tab-pane active" id="first">
                            <ul class="list-group m-b-0">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                <strong>Instruction: </strong>
                                                <br />
                                                {{workDetails.instruction}}
                                            </p>
                                            <hr />
                                            <small class="text-muted">ANSWER:</small>
                                            <br />
                                            <!-- {{workDetails.attachmentFilename}} -->
                                            <p *ngIf="workDetails.attachmentFilename">File: <a
                                             
                                                    class="btn btn-sm btn-primary">download</a></p>
                                            <br />
                                            <pre class="stude-answer">
                                                <div [innerHTML]="message"></div>
                                            </pre>
                                            <hr />
                                            <div class="form-group">
                                                <textarea class="form-control" rows="2"
                                                    placeholder="Write a review!"></textarea>
                                            </div>
                                            <hr />
                                            <div class="row m-b-1">
                                                <strong>Score:</strong>
                                                <div class="col-md-12">
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <input #grade (change)="setGrade(grade.value)"type="range" min="0" max="{{workDetails.points}}" step="1" value="0">
                                                        </div>
                                                        <div class="media-right">
                                                            <h4>
                                                                <div class="value">{{totalGrade}}/{{workDetails.points}}</div>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="setReview()" class="btn btn-success btn-rounded pull-xs-right btn-sm">Set
                    Review <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>