<div class="reminders" [ngClass]="{ 'mat-elevation-z5': true, sticky: isSticky }">
    <div class="card-body new-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="subject-title text-xs font-weight-bold text-primary text-uppercase mb-1">
                    <i class="fa fa-bell" aria-hidden="true"></i> Reminders
                </div>
                <!-- Display notification for events here -->
                <!-- Event # 1 -->
                <div class="reminder-butt1">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Exam Schedule<i class="fas fa fa-angle-down"></i>
                            <div class="reminder-details">
                                <span>9:00 AM</span>
                                <p>May 22, 2020</p>
                            </div>
                        </h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseCardExample">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse functionality.
                            <strong>Click on the card header</strong> to see the card body collapse and expand!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>