.subject-title {
    font-size: 20px;
}

.reminders {
    border: 1px solid #dddfe2;
    transition: 0.3s;
    width: 100%;
    margin: 20px 0;
}

.reminder-butt {
    border: 1px solid #dddfe2;
}

.view {
    text-align: right;
    padding-top: 15px;
}
.view:hover {
    color: dodgerblue;
}

.fas{
    float: right;
}

// .sticky {
//     position: fixed;
//     top: 30px;
//     width: 25%;
// }