<div class="class-details">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <br />

            <div class="navigate-bar border-bottom-primary">
                <div class="nav-item"><button [routerLink]="['/user/t/classroom/home']"  [ngClass]="homeActive" (click)="getActiveClass()">Home</button></div>
                <div class="nav-item" ><button [routerLink]="['/user/t/classroom/class-work']" [ngClass]="cwActive" (click)="getActiveClass()">Classwork</button></div>
                <div class="nav-item" ><button [routerLink]="['/user/t/classroom/invites']" [ngClass]="peopleActive" (click)="getActiveClass()">People</button></div>
                <div class="nav-item" ><button [routerLink]="['/user/t/classroom/invites']" [ngClass]="gradesActive">Grades</button></div>
              
            </div>
            <div class="nav-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>