<div style="width: 100%; height: 100%; background: #1b1a3d; position: absolute">

    <div class="contenido">

        <div class="top-border-container">
            <div class="top-border" style="background-color: #53A5EE;">
            </div>
            <div class="top-border" style="background-color: #ED787D;">
            </div>
            <div class="top-border" style="background-color: #30C79E;">
            </div>
        </div>

        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Create Password</li>
            <li>Verify Details</li>
            <li>Add Students</li>
        </ul>

        <h1>CREATE PASSWORD</h1>
        <p class="subtitle">Looks like this is the first time you are logged in. We suggest you change your password immediately.
        </p>
        <form *ngIf="updatePasswordForm" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="password" placeholder="Type your password" class="form-control" formControlName="password" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Verify your password" class="form-control" formControlName="verifyPassword" />
            </div>
            <br />

            <p style="letter-spacing: 1px;">By clicking <span style="font-weight: bold;">Create Account</span>, I agree to the
                <br />
                <span style="font-weight: bold;">Terms of Service</span> and <span style="font-weight: bold;">Privacy
                    Policy</span></p>
            <div class="form-group">
                <button [routerLink]="['/vierify/update-profile']">SAVE PASSWORD</button>
            </div>
        </form>

    </div>
</div>