<!-- Start: content -->
<div id="dashboard-content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard/main']" routerLinkActive="active" class="collapse-item"
                style="cursor: pointer;">
                <span>Home</span>
            </a>
        </li>
        <li class="breadcrumb-item active"><span>Library</span></li>
    </ol>
    <!-- Start: list wrapper -->
    <div class="d-lg-flex d-xl-flex justify-content-lg-start justify-content-xl-start list-wrapper">
        <!-- Start: list content -->
        <div class="d-inline d-lg-flex d-xl-flex justify-content-xl-center align-items-xl-start content-list">
            <!-- Start: title -->
            <div class="d-xl-flex align-items-xl-center title teacher-content">
                <div [ngClass]="{'hide-for-search': teacherShowSearch}"
                    class="d-xl-flex justify-content-xl-center align-items-xl-center left-item"><i
                        class="fa fa-user-secret title-icon-left"></i>
                </div>
                <div [ngClass]="{'hide-for-search': teacherShowSearch}"
                    class="d-lg-flex justify-content-lg-center align-items-lg-center mid-item">
                    <span
                        class="text-uppercase d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center list-title">staff
                        &amp; teacher</span>
                </div>
                <div class="search-right">
                    <div id="demo-2">
                        <input type="search" placeholder="Search" (focus)="toggle('teacher')"
                            (focusout)="toggle('teacher')" [(ngModel)]="teacherSearchText">
                    </div>
                </div>
            </div>
            <!-- End: title -->
            <!-- Start: list-body -->
            <div class="d-flex d-md-flex d-lg-flex d-xl-flex justify-content-xl-center list-body">
                <!-- Start: list content wrapper -->
                <div class="list-content-wrapper">
                    <p *ngIf="teacherSpinner"
                        class="text-center d-xl-flex justify-content-xl-center align-items-xl-center empty-list-text">
                        <app-loading-spinner></app-loading-spinner>
                    </p>
                    <p *ngIf="teacherError && !teacherSpinner"
                        class="text-center d-xl-flex justify-content-xl-center align-items-xl-center empty-list-text">
                        {{teacherMessage}}
                        <a *ngIf="refreshTeacher" class="refresh-list" (click)="refreshTeacherList()">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </p>
                    <p *ngIf="!teacherSpinner && !teacherError">
                        <a *ngFor="let teacher of teacherData  | filter: teacherSearchText" class="link-to-list"
                            href="#">
                            <div *ngIf="teacher.status === 'active'"
                                class="d-xl-flex align-items-xl-center list-content-item"><img
                                    class="border rounded-circle border-primary teacher-list-img"
                                    src="../../../../../../assets/admin/img/avatars/avatar1.jpeg"><span
                                    class="d-xl-flex align-items-xl-center listed-user">{{teacher.username}}</span>
                                <div
                                    class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide">
                                    <a data-toggle="modal" data-target="#editModal">
                                        <i
                                            class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options">
                                        </i>
                                    </a>
                                    <a data-toggle="modal" (click)="getUsernameData(teacher.username, 'teacher')"
                                        data-target="#archiveModal">
                                        <i
                                            class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options">
                                        </i>
                                    </a>

                                </div>
                            </div>
                        </a>
                    </p>
                </div>
                <!-- End: list content wrapper -->
            </div>
            <!-- End: list-body -->
            <!-- Start: list footer -->
            <div class="d-xl-flex align-items-xl-center footer">
                <a [routerLink]="['/dashboard/staff-teacher-lists']" routerLinkActive="active">
                    <span
                        class="text-capitalize text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center footer-view-all">View
                        All Teacher &amp; Staff</span>
                </a>
            </div>

            <!-- End: list footer -->
        </div>
        <!-- End: list content -->
        <!-- Start: list content -->
        <div class="d-inline d-lg-flex d-xl-flex justify-content-xl-center align-items-xl-start content-list">
            <!-- Start: title -->
            <div class="d-xl-flex align-items-xl-center title parent-content">
                <div [ngClass]="{'hide-for-search': parentShowSearch}"
                    class="d-xl-flex justify-content-xl-center align-items-xl-center left-item"><i
                        class="fa fa-user-secret title-icon-left"></i>
                </div>
                <div [ngClass]="{'hide-for-search': parentShowSearch}"
                    class="d-lg-flex justify-content-lg-center align-items-lg-center mid-item">
                    <span
                        class="text-uppercase d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center list-title">Parent
                        or Guardian</span>
                </div>
                <div class="search-right">
                    <div id="demo-2">
                        <input type="search" placeholder="Search" (focus)="toggle('parent')"
                            (focusout)="toggle('parent')" [(ngModel)]="parentSearchText">
                    </div>
                </div>
            </div>
            <!-- End: title -->
            <!-- Start: list-body -->
            <div class="d-flex d-md-flex d-lg-flex d-xl-flex justify-content-xl-center list-body">
                <!-- Start: list content wrapper -->
                <div class="list-content-wrapper">
                    <p *ngIf="parentSpinner"
                        class="text-center d-xl-flex justify-content-xl-center align-items-xl-center empty-list-text">
                        <app-loading-spinner></app-loading-spinner>
                    </p>
                    <p *ngIf="parentError && !parentSpinner"
                        class="text-center d-xl-flex justify-content-xl-center align-items-xl-center empty-list-text">
                        {{parentMessage}}
                        <a *ngIf="refreshParent" class="refresh-list" (click)="refreshParentList()">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </p>
                    <!--  -->
                    <p *ngIf="!parentError && !parentSpinner">
                        <a *ngFor="let parent of parentData  | filter: parentSearchText" class=" link-to-list" href="#">
                            <div *ngIf="parent.status === 'active'"
                                class="d-xl-flex align-items-xl-center list-content-item"><img
                                    class="border rounded-circle border-primary teacher-list-img"
                                    src="../../../../../../assets/admin/img/avatars/avatar1.jpeg"><span
                                    class="d-xl-flex align-items-xl-center listed-user">{{parent.username}}</span>
                                <div
                                    class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide">
                                    <a data-toggle="modal" data-target="#parentProfileModal">
                                        <i
                                            class="fa fa-user d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options">
                                        </i>
                                    </a>
                                    <a data-toggle="modal" data-target="#editModal">
                                        <i
                                            class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options">
                                        </i>
                                    </a>
                                    <a data-toggle="modal" (click)="getUsernameData(parent.username, 'parent')"
                                        data-target="#archiveModal">
                                        <i
                                            class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </p>
                </div>
                <!-- End: list content wrapper -->
            </div>
            <!-- End: list-body -->
            <!-- Start: list footer -->
            <div class="d-xl-flex align-items-xl-center footer">
                <a [routerLink]="['/dashboard/parents-list']" routerLinkActive="active" class="collapse-item">
                    <span
                        class="text-capitalize text-center d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center footer-view-all">View
                        All Parent/Guardian</span>
                </a>
            </div>
            <!-- End: list footer -->
        </div>
        <!-- End: list content -->
        <!-- Start: list content -->
        <div class="d-inline d-lg-flex d-xl-flex justify-content-xl-center align-items-xl-start content-list">
            <!-- Start: title -->
            <div class="d-xl-flex align-items-xl-center title student-content">
                <div [ngClass]="{'hide-for-search': studentShowSearch}"
                    class="d-xl-flex justify-content-xl-center align-items-xl-center left-item"><i
                        class="fa fa-user-secret title-icon-left"></i>
                </div>
                <div [ngClass]="{'hide-for-search': studentShowSearch}"
                    class="d-lg-flex justify-content-lg-center align-items-lg-center mid-item">
                    <span
                        class="text-uppercase d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center list-title">Student</span>
                </div>
                <div class="search-right">
                    <div id="demo-2">
                        <input type="search" placeholder="Search" (focus)="toggle('student')"
                            (focusout)="toggle('student')" [(ngModel)]="studentSearchText">
                    </div>
                </div>
            </div>
            <!-- End: title -->
            <!-- Start: list-body -->
            <div class="d-flex d-md-flex d-lg-flex d-xl-flex justify-content-xl-center list-body">
                <!-- Start: list content wrapper -->
                <div class="list-content-wrapper">
                    <p *ngIf="studentSpinner"
                        class="text-center d-xl-flex justify-content-xl-center align-items-xl-center empty-list-text">
                        <app-loading-spinner></app-loading-spinner>
                    </p>
                    <p *ngIf="studentError && !studentSpinner"
                        class="text-center d-xl-flex justify-content-xl-center align-items-xl-center empty-list-text">
                        {{studentMessage}}
                        <a *ngIf="refreshStudent" class="refresh-list" (click)="refreshStudentList()">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </p>
                    <p *ngIf="!studentError && !studentSpinner">
                        <a *ngFor="let student of studentData | filter: studentSearchText" class="link-to-list"
                            href="#">
                            <div *ngIf="student.status === 'active'"
                                class="d-xl-flex align-items-xl-center list-content-item"><img
                                    class="border rounded-circle border-primary teacher-list-img"
                                    src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                    class="d-xl-flex align-items-xl-center listed-user">{{student.username}}</span>
                                <div
                                    class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide">
                                    <a data-toggle="modal" data-target="#studentProfileModal">
                                        <i
                                            class="fa fa-user d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options">
                                        </i>
                                    </a>
                                    <a data-toggle="modal" data-target="#editModal">
                                        <i
                                            class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options">
                                        </i>
                                    </a>
                                    <a data-toggle="modal" (click)="getUsernameData(student.username, 'student')"
                                        data-target="#archiveModal">
                                        <i
                                            class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options">
                                        </i>
                                    </a>

                                </div>
                            </div>
                        </a>
                    </p>
                </div>
                <!-- End: list content wrapper -->
            </div>
            <!-- End: list-body -->
            <!-- Start: list footer -->
            <div class="d-xl-flex align-items-xl-center footer">
                <a [routerLink]="['/dashboard/student-lists']" routerLinkActive="active" class="collapse-item">
                    <span
                        class="text-capitalize text-center d-xl-flex justify-content-xl-center align-items-xl-center footer-view-all">View
                        All Student</span>
                </a>
            </div>
            <!-- End: list footer -->
        </div>
        <!-- End: list content -->
    </div>
</div>
<div id="parentProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show"
    aria-modal="true" style="display: none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-parent-profile></app-parent-profile>
            </div>
        </div>
    </div>
</div>
<div id="studentProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show"
    aria-modal="true" style="display: none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-student-profile></app-student-profile>
            </div>
        </div>
    </div>
</div>
<div id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show"
    aria-modal="true" style="display: none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">Archive</h5><button type="button" data-dismiss="modal"
                    aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                Are you sure you want to archive this user? Status will be set to 'INACTIVE'.
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary"> Cancel </button>
                <a data-dismiss="modal" (click)="addToArchive()" class="btn btn-primary"
                    style="cursor: pointer;">Deactivate User</a>
            </div>
        </div>
    </div>
</div>

<div id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade show"
    aria-modal="true" style="display: none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">Edit User</h5><button type="button" data-dismiss="modal"
                    aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                Form body here.
                <br /> Fullname
                <br /> Position
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary"> Cancel </button>
                <a data-dismiss="modal" class="btn btn-primary" style="cursor: pointer;">Save Changes</a>
            </div>
        </div>
    </div>
</div>