<!-- Start: content -->
<div id="dashboard-content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
        <li class="breadcrumb-item active"><span>Library</span></li>
    </ol>
    <!-- Start: list wrapper -->
    <div class="d-lg-flex d-xl-flex justify-content-lg-start justify-content-xl-start list-wrapper">
        <!-- Start: list content -->
        <div class="d-inline d-lg-flex d-xl-flex justify-content-xl-center align-items-xl-start content-list">
            <!-- Start: title -->
            <div class="d-xl-flex align-items-xl-center title teacher-content">
                <div class="d-xl-flex justify-content-xl-center align-items-xl-center left-item"><i
                        class="fa fa-user-secret title-icon-left"></i></div>
                <div class="d-lg-flex justify-content-lg-center align-items-lg-center mid-item"><span
                        class="text-uppercase d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center list-title">staff
                        &amp; teacher</span></div>
                <div class="d-xl-flex justify-content-xl-center align-items-xl-center right-item"><i
                        class="fa fa-plus title-icon-right"></i></div>
            </div>
            <!-- End: title -->
            <!-- Start: list-body -->
            <div class="d-flex d-md-flex d-lg-flex d-xl-flex justify-content-xl-center list-body">
                <!-- Start: list content wrapper -->
                <div class="list-content-wrapper">
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar1.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Twila Kate McDonald</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar1.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Twila Kate McDonald</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: list content wrapper -->
            </div>
            <!-- End: list-body -->
            <!-- Start: list footer -->
            <div class="d-xl-flex align-items-xl-center footer"><span
                    class="text-capitalize text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center footer-view-all">View
                    All Teacher &amp; Staff</span></div>
            <!-- End: list footer -->
        </div>
        <!-- End: list content -->
        <!-- Start: list content -->
        <div class="d-inline d-lg-flex d-xl-flex justify-content-xl-center align-items-xl-start content-list">
            <!-- Start: title -->
            <div class="d-xl-flex align-items-xl-center title parent-content">
                <div class="d-xl-flex justify-content-xl-center align-items-xl-center left-item"><i
                        class="fa fa-users title-icon-left"></i></div>
                <div class="d-lg-flex justify-content-lg-center mid-item"><span
                        class="text-uppercase d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center list-title">parent/guardian</span>
                </div>
                <div class="d-xl-flex justify-content-xl-center align-items-xl-center right-item"><i
                        class="fa fa-plus title-icon-right"></i></div>
            </div>
            <!-- End: title -->
            <!-- Start: list-body -->
            <div class="d-flex d-md-flex d-lg-flex d-xl-flex justify-content-xl-center list-body">
                <!-- Start: list content wrapper -->
                <div class="list-content-wrapper">
                    <p class="text-center d-xl-flex justify-content-xl-center align-items-xl-center empty-list-text">
                        Opps! Looks like this list is empty.</p>
                </div>
                <!-- End: list content wrapper -->
            </div>
            <!-- End: list-body -->
            <!-- Start: list footer -->
            <div class="d-xl-flex align-items-xl-center footer"><span
                    class="text-capitalize text-center d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center footer-view-all">View
                    All Parent/Guardian</span></div>
            <!-- End: list footer -->
        </div>
        <!-- End: list content -->
        <!-- Start: list content -->
        <div class="d-inline d-lg-flex d-xl-flex justify-content-xl-center align-items-xl-start content-list">
            <!-- Start: title -->
            <div class="d-xl-flex align-items-xl-center title student-content">
                <div class="d-xl-flex justify-content-xl-center align-items-xl-center left-item"><i
                        class="fa fa-user title-icon-left"></i></div>
                <div class="d-lg-flex justify-content-lg-center align-items-lg-center mid-item"><span
                        class="text-uppercase d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center list-title">student</span>
                </div>
                <div class="d-xl-flex justify-content-xl-center align-items-xl-center right-item"><i
                        class="fa fa-plus title-icon-right"></i></div>
            </div>
            <!-- End: title -->
            <!-- Start: list-body -->
            <div class="d-flex d-md-flex d-lg-flex d-xl-flex justify-content-xl-center list-body">
                <!-- Start: list content wrapper -->
                <div class="list-content-wrapper">
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item hide"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                    <a class="link-to-list" href="#">
                        <div class="d-xl-flex align-items-xl-center list-content-item"><img
                                class="border rounded-circle border-primary teacher-list-img"
                                src="../../../../../../assets/admin/img/avatars/avatar5.jpeg"><span
                                class="d-xl-flex align-items-xl-center listed-user">Mel Vin</span>
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center list-options hide"><i
                                    class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center align-items-xl-center option-edit list-options"></i><i
                                    class="fa fa-remove d-xl-flex justify-content-xl-center align-items-xl-center option-delete list-options"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: list content wrapper -->
            </div>
            <!-- End: list-body -->
            <!-- Start: list footer -->
            <div class="d-xl-flex align-items-xl-center footer"><span
                    class="text-capitalize text-center d-xl-flex justify-content-xl-center align-items-xl-center footer-view-all">View
                    All Student</span></div>
            <!-- End: list footer -->
        </div>
        <!-- End: list content -->