#dashboard-content {
    background-color: #dddddd !important;
    width: 80vw;
}

// .hide {
//   // display: none !important;
//   color: rgba(33, 37, 41, 0.28);
// }

.option-edit,
.option-delete {
    color: rgba(33, 37, 41, 0.28) !important;
    padding-right: 10px !important;
}

.option-edit:hover {
    color: #2ccb6f !important;
}

.option-delete:hover {
    color: #cd3232 !important;
}

.link-to-list:hover {
    cursor: pointer;
    .list-content-item:hover {
        .hide {
            color: #1b1a3d;
        }
        .listed-user {
            color: #1b1a3d;
            font-size: 20px !important;
            font-weight: 700;
        }
    }
}

.list-wrapper {
    height: 80vh !important;
}

.list-options {
    padding-right: 30px;
}

.list-content-item,
.listed-user {
    width: 100%;
    text-transform: capitalize;
}

.refresh-list {
    cursor: pointer;
    padding-top: 20px;
}

.refresh-list:hover {
    color: #007bff !important;
    cursor: pointer !important;
}

.empty-list-text {
    flex-direction: column !important;
}

.title,
.footer {
    height: 10% !important;
    a {
        width: 100%;
    }
}

input {
    outline: none;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 80%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type="search"] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 10px;
    width: 100px;
    height: 25px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

input[type="search"]:focus {
    background-color: #fff;
    border-color: #66cc75;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
#demo-2 input[type="search"] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#demo-2 input[type="search"]:hover {
    background-color: #fff;
}

#demo-2 input[type="search"]:focus {
    width: 360px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#demo-2 input:-moz-placeholder {
    color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

.search-right {
    padding-right: 20px;
}

.hide-for-search {
    span,
    i {
        display: none !important;
    }
}
