#dashboard-content {
  background-color: #dddddd !important;
  width: 80vw;
}

// .hide {
//   // display: none !important;
//   color: rgba(33, 37, 41, 0.28);
// }

.option-edit,
.option-delete {
  color: rgba(33, 37, 41, 0.28) !important;
  padding-right: 10px !important;
}

.option-edit:hover {
  color: #2ccb6f !important;
}
.option-delete:hover {
  color: #cd3232 !important;
}

.link-to-list:hover {
  cursor: pointer;
  .list-content-item:hover {
    .hide {
      color: #1b1a3d;
    }
    .listed-user {
      color: #1b1a3d;
      font-size: 18px !important;
      font-weight: 700;
    }
  }
}

.list-options {
  padding-right: 30px;
}

.list-content-item {
  width: 100%;
}

.listed-user {
  width: 100%;
}

.refresh-list {
  cursor: pointer;
  padding-top: 20px;
}

.refresh-list:hover {
  color: #007bff !important;
  cursor: pointer !important;
}

.empty-list-text {
  flex-direction: column !important;
}

.title,
.footer {
  height: 10% !important;
}
