.subject-title {
    font-size: 20px;
    text-transform: capitalize !important;
    color: #ffffff !important;
    padding-bottom: 5px;
    .add-reminder {
        float: right !important;
        border: 1px #ffffff solid;
        border-radius: 50%;
        padding: 10px;
        margin-top: -10px;
    }
}

.invitation-tabs {
    border: 1px solid #dddfe2;
    transition: 0.3s;
    width: 100%;
    margin: 20px 0;
}

.reminder-butt1 {
    background-color: #cccccc !important;
    color: #ffffff !important;
    margin-top: 10px;
    cursor: pointer;
    a {
        padding: 25px !important;
        text-transform: uppercase;
        border-bottom: none;
    }
    h6 {
        color: #ffffff !important;
        vertical-align: middle !important;
    }
    .title-icon-left {
        float: left !important;
        margin: 0px 10px 0 0;
        background: rgba(0, 0, 0, 0.2);
        padding: 15px;
        margin-top: -14px;
        border-radius: 50%;
    }
    .not-selected {
        background-color: #cccccc !important;
        background-image: none !important;
        transition: ease 1s;
    }
    .student-bg {
        background-image: linear-gradient(to right, #22b3af, #3cd88f);
    }
    .parent-bg {
        background-image: linear-gradient(to right, #f17580, #f18873);
    }
    .staff-bg {
        background-image: linear-gradient(to right, #5598ef, #74b1e3);
    }
}

.view {
    text-align: right;
    padding-top: 15px;
}

.view:hover {
    color: dodgerblue;
}

.fas {
    float: right;
}

// .sticky {
//     position: fixed;
//     top: 30px;
//     width: 25%;
// }
.new-body {
    background-color: white !important;
}