<div class="invitation-tabs" [ngClass]="{ 'mat-elevation-z5': true, sticky: isSticky }">
    <div class="card-body new-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">

                <!-- Display notification for events here -->
                <!-- Event # 1 -->
                <div class="reminder-butt1">
                    <!-- Card Header - Accordion -->
                    <a [routerLink]="['/user/t/classroom/invites/teacher']" class="d-block card-header py-3" role="button" aria-expanded="true"
                        aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Staff Teacher
                        </h6>
                    </a>
                </div>
                <!-- Display notification for events here -->
                <!-- Event # 2 -->
                <div class="reminder-butt1">
                    <!-- Card Header - Accordion -->
                    <a [routerLink]="['/user/t/classroom/invites/guardian']" class="d-block card-header py-3" role="button" aria-expanded="true"
                        aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Parent/Guardian
                        </h6>
                    </a>
                </div>
                <!-- Display notification for events here -->
                <!-- Event # 3 -->
                <div class="reminder-butt1">
                    <!-- Card Header - Accordion -->
                    <a [routerLink]="['/user/t/classroom/invites/student']" href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
                        aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Student
                        </h6>
                    </a>
                </div>
            </div>
        </div>