<div class="cs">
    <div class="content">
        <div class="cs-page">
            <div class="cs-item cs-header">Teacher</div>
            <div class="cs-item cs-teacher">Teacher Name</div>
            <div class="cs-item cs-list">
                <div class="cs-list-title">
                    <div class="cs-list-title-label">Student</div>
                    <div class="cs-list-title-icon"><i class="fa fa-plus"></i></div>
                </div>
                <div class="cs-list-body">
                    studentlist
                </div>
            </div>
        </div>

    </div>
</div>