<div class="cs">
    <div class="content">
        <div class="cs-page">

            <div class="cs-item cs-header">
                <div class="cs-title">Teacher</div>
                <div class="cs-invite"><i class="fa fa-plus"></i></div>
            </div>
            <div class="cs-item cs-teacher">Teacher Name</div>
            <div class="cs-item cs-list">
                <div class="cs-list-title">
                    <div class="cs-list-title-label">Student</div>
                    <div class="cs-list-title-icon"><a class="invite-student" data-toggle="modal"
                            data-target="#myModal"><i class="fa fa-plus"></i></a></div>
                </div>
                <div class="cs-list-body">
                    <div class="student-list-header">
                        <div class="header-name">Name</div>
                        <div class="header-status">status</div>
                        <div class="header-action">Action</div>
                    </div>
                    <div *ngFor="let invites of invited" class="student-list-body">
                        <div class="body-name">{{invites.student}}</div>
                        <div class="body-status">{{invites.inviteStatus}}</div>
                        <div class="body-action dropdown">
                            <a href="#action" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>

                            <div id="action" class="collapse dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="user" [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Student</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="search" placeholder="Type a username" class="search-students"
                        formControlName="username" list="mylist">
                    <datalist id="mylist">
                        <option *ngFor="let students of student" value="{{students.username}}">
                    </datalist>

                </div>
                <div class="modal-footer">
                    <button>Send Invite</button>
                </div>
            </form>


            <!-- <form class="user" [formGroup]="addClassFOrm" (ngSubmit)="onSubmit()">

                <div class="modal-body">
                    <div class=" form-group">
                        <label for="inputName"><span class="validator" *ngIf="name.invalid && name.touched">
                                Class Name is required</span></label>
                        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp"
                            placeholder="Enter Class Name" formControlName="name">
                    </div>
          </form> -->



        </div>
    </div>
</div>