<div class="post-detail">
    <div class="user-info">
        <h5>
            <a href="timeline.html" class="profile-link">Blythe-sama</a>
            <span class="following">Teacher</span>
        </h5>
        <p class="text-muted">Published a photo about 3 mins ago</p>
    </div>
    <div class="line-divider"></div>
    <div class="post-text">
        <p>
            This is the post
            <i class="em em-anguished"></i>
            <i class="em em-anguished"></i>
            <i class="em em-anguished"></i>
        </p>
    </div>
</div>