.post-detail{
  position: relative;
  box-shadow: none;
  margin: 7px 0;
  min-width: 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
}

.user-info .text-muted {
    font-size: 12px;
    padding: 0px !important;
    margin-bottom: 5px;
    margin-top: -5px;
  }

  
.profile-link {
    font-weight: 600;
  }

  
.following {
    color: #8dc63f;
    font-size: 12px;
    margin-left: 20px;
  }

  .line-divider {
    background: none;
    height: 1px;
    border-top: 1px solid #e6e6e6;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
  