<div class="header-title">
    <div class="title">
        <span>My Teachers</span>
    </div>
</div>
<div class="my-teachers">
    <div class="container">
        <div class="content">
            <div class="teachers-content">
                <div class="box">
                    <div class="header">
                        Teacher name
                    </div>
                    <div class="body">
                        Class names
                    </div>
                </div>
                <div class="box">
                    <div class="header">
                        Teacher name
                    </div>
                    <div class="body">
                        Class names
                    </div>
                </div>
                <div class="box">
                    <div class="header">
                        Teacher name
                    </div>
                    <div class="body">
                        Class names
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>