<!-- <div class="container-fluid" style="background-color: rgba(0,0,0,0) !important;">
    <div class="card shadow mb-4" style="background-color: rgba(0,0,0,0) !important;">
        
    </div>
</div> -->


<div class="card col-xl-4 col-md-4 mb-4 classwork-list" style="float:left; position:absolute">
    <div class="reminders" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        <div class="new-body" style="padding: 20px;">
            <div class="classwork-title">
                <i class="fa fa-book" aria-hidden="true"></i> Classworks
                <a *ngIf="teacherAccount" class="add-classwork" data-toggle="modal" data-target="#myModalClasswork">
                    <i class="fa fa-plus add-reminder" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <div class="col align-items-center"
                style="background: #ffffff !important; padding-top: 15px; overflow-y: scroll; height: 63.5vh;">
                <div class="col" *ngIf="showSpinner">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="col" *ngIf="error">
                    <p class="no-classwork">{{errorMessage}}</p>
                </div>
                <div *ngFor="let work of classWork; let i = index" class="classwork-container">

                    <!-- Display notification for events here -->
                    <!-- Event # 1 -->
                    <!-- class="reminder-butt1" -->
                    <div (click)="viewAnswer = false" *ngIf="!showSpinner" [className]="classWorkStyle(i)" 
                        [ngClass]="{'selected-work' : activeClass === work.title}">
                        <!-- (click)="isCollapsed[i] = !isCollapsed[i]"  data-toggle="collapse"  -->
                        <a (click)="viewClasswork(work)" class="d-block card-header py-3 collapsed" role="button"
                            aria-expanded="false" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary work-title">{{work.title}}
                            </h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <!-- <div [ngbCollapse]="!isCollapsed[i]" class="collapse" id="collapseCardExample">
                            <div class="classwork-body">
                                <p class="due work-details"> Due on:
                                    <span>{{dueDateVal(work.dueDate)}}</span> </p>
                                <p class="points work-details">Total Points:
                                    <span>{{work.points}}</span></p>
                                <p class="submit work-details">Total Submission: <span>5</span></p>
                                <p class="instructions">{{work.instruction}}</p>
                            </div>
                            <div class="btns-work ctr">
                                <a (click)="download(work.attachment, work.attachmentFilename)"
                                    class="btn btn-primary btn-rounded modal-buttons">Download</a>
                                <a [routerLink]="['/user/t/classroom/class-work/work-view']"
                                    (click)="viewDetails(work, i)"
                                    class="btn btn-primary btn-rounded modal-buttons">View Details</a>
                            </div>
                        </div> -->
                    </div>

                    <!-- PLEASE READ HERE -->
                    <!-- Add ngIf here. Show only if empty classwork -->
                    <!-- <div class="empty-work" >
                        {{errorMessage}}
                    </div> -->

                </div>
                <div *ngIf="teacherAccount" class="view ctr">
                    <!-- <p>
                        <a [routerLink]="['/teacher/class-details/class-work/quizzes']" class="btn btn-primary btn-rounded modal-buttons" data-toggle="modal" data-target="#myModalClasswork">
                            Quizzes
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card column col-xl-8 col-md-8 mb-8 classwork-list" style="padding-left: 20px !important; float: right;">
    <div *ngIf="!showSpinner && error"
        style="width: 100%;text-align: center;border: none;height: 100vh; font-size: 30px;color: #777777;"
        class="reminders" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        Something went wrong! Please reload your browser.
    </div>
    <div *ngIf="!showSpinner&& !error" class="reminders" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        <div class="new-body2" style="padding: 20px; height: 70px;">
            <div class="classwork-title">
                {{viewClassWork.title}}
                <a *ngIf="teacherAccount" class="review-classwork">
                    <i class="fa fa-plus add-reminder" aria-hidden="true"> <span> Edit Classwork</span> </i>
                </a>
            </div>
        </div>
        <div>
            <div class="col align-items-center"
                style="background: #ffffff !important; padding-top: 15px; padding-right: 0px; padding-bottom: 15px; height: 63.5vh;">
                <div class="col col-md-8" style="height: 100%;">

                    <div class="layout-content" data-scrollable>
                        <div class="container-fluid class-review">
                            <!-- <button class="button back-btn" [routerLink]="['/user/t/classroom/class-work/details']">
                                Class Details
                            </button> -->
                            <!-- <span *ngIf="isNull"> - Fetching Class Details</span> -->

                            <!-- ngIf="workDetails" -->
                            <div class="row" style="padding-top: 20px">
                                <div class="col-md-12">
                                    <!-- <p *ngIf="workDetails"> -->
                                    <p>Submitted Attachments: <a *ngIf="viewAnswer"
                                            (click)="download(viewClassWork.attachment, viewClassWork.attachmentFilename)"
                                            class="btn btn-sm btn-primary">download</a></p>
                                    <strong>Classwork Instruction: </strong>
                                    <br />
                                    <p class="instructions-text">
                                        {{viewClassWork.instruction}}
                                    </p>
                                    <hr />
                                    <div *ngIf="viewAnswer">
                                        <small class="text-muted">STUDENT'S ANSWER:</small>
                                        <!-- <a
                                                        (click)="download(reviewData.attachment, reviewData.attachmentFilename)"
                                                        class="btn btn-sm btn-primary">download</a></p> -->
                                        <br />
                                        <!-- <div [innerHTML]="message"></div> -->
                                        <pre class="stude-answer"
                                            [innerHTML]="answerData.messageAnswer">{{answerData.messageAnswer}}</pre>
                                        <hr />
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2"
                                                placeholder="Write a review!"></textarea>
                                        </div>
                                        <div>
                                            <a *ngIf="teacherAccount" class="review-classwork" style="float:right;">
                                                <i class="fa fa-check add-reminder btn disabled"
                                                    style="background: #CD3132 !important; color: #ffffff !important"
                                                    aria-hidden="true">
                                                    <span> Save Changes</span>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!viewAnswer" class="col col-md-4" style="height: 100%; border-left: 1px #bbbbbb solid;">
                    <div class="student-details">
                        <table class="table table-sm table-middle">
                            <thead>
                                <tr>
                                    <th class="center">Student</th>
                                    <th class="center">Score</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!retrieveAnswer && !answerErrorStatus">
                                <tr *ngFor="let students of submittedTask" class="view-answer"
                                    (click)="viewStudent(students)" class="hover-student-answer">
                                    <td class="right-score">
                                        <img class="border rounded-circle border-primary profile-img"
                                            src="../../../../../../../../assets/admin/img/avatars/avatar5.jpeg"
                                            style="width:30px; height:30px; margin-right: 10px;">{{students.answeredBy}}
                                    </td>
                                    <td>
                                        <!-- <p> <a (click)="download()" class="btn btn-sm btn-primary">View</a></p> -->
                                        {{students.points}} / {{students.totalpoints}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="retrieveAnswer" style="height: 75px; padding: 30px;">
                                <tr>
                                    <td class="center" colspan="2">
                                        <span>Retrieving answers</span>
                                    </td>
                                </tr>
                                <tr class="center" style="height: 75px; padding: 30px;">
                                    <td class="center" colspan="2">
                                        <app-loading-spinner></app-loading-spinner>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="!retrieveAnswer && answerErrorStatus">
                                <tr>
                                    <td class="center" colspan="2" style="height: 75px; padding: 30px;">
                                        <span>{{answerErrorMessage}}</span>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="viewAnswer" class="col col-md-4" style="height: 100%; border-left: 1px #bbbbbb solid;">
                    <div class="student-details">
                        <p><a (click)="viewAnswer = false">
                                <i class="fa fa-arrow-left back-arrow" aria-hidden="true"></i></a>
                        </p>
                        <img class="border rounded-circle border-primary profile-img"
                            src="../../../../../../../../assets/admin/img/avatars/avatar5.jpeg">
                        <span class="stude-name">{{answerData.answeredBy}}</span>
                        <span class="stude-holder">Student</span>
                        <hr>
                        <span class="stude-name1">{{getDate(answerData.answeredDate)}}</span>
                        <span class="stude-holder">Date Submitted</span>
                        <hr>
                        <span class="stude-name1">Teacher Name</span>
                        <span class="stude-holder">Assigned By</span>
                        <hr>
                        <input #grade type="range" min="0" max="{{answerData.totalpoints}}" step="1"
                            value="{{totalGrade}}" (change)="setGrade(grade.value)">
                        <pre class="stude-score">{{totalGrade}}<p>/{{answerData.totalpoints}}</p></pre>
                        <span class="stude-holder">Total Score</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal" id="reviewModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Review Answer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card">
                    <div class="tab-content">
                        <div class="tab-pane active" id="first">
                            <ul class="list-group m-b-0">
                                <li class="list-group-item">
                                    <div *ngIf="workDetails" class="row">
                                        <div class="col-md-12">
                                            <p *ngIf="workDetails">
                                                <strong>Instruction: </strong>
                                                <br />
                                                {{workDetails.instruction}}
                                            </p>
                                            <hr />
                                            <small class="text-muted">ANSWER:</small>
                                            <br />
                                            <p>File: <a
                                                    (click)="download(reviewData.attachment, reviewData.attachmentFilename)"
                                                    class="btn btn-sm btn-primary">download</a></p>
                                            <br />
                                            <pre class="stude-answer">
                                                <div [innerHTML]="message"></div>
                                            </pre>
                                            <hr />
                                            <div class="form-group">
                                                <textarea class="form-control" rows="2"
                                                    placeholder="Write a review!"></textarea>
                                            </div>
                                            <hr />
                                            <div class="row m-b-1">
                                                <strong>Score:</strong>
                                                <div class="col-md-12">
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <input #grade (change)="setGrade(grade.value)" type="range"
                                                                min="0" max="{{totalPoint(workDetails.points)}}"
                                                                step="1" value="0">
                                                        </div>
                                                        <div class="media-right">
                                                            <h4>
                                                                <div class="value"><span #value class="edit-score"
                                                                        (change)="grade.value = value"
                                                                        contenteditable="true">{{totalGrade}}</span>/{{workDetails.points}}
                                                                </div>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="setReview()" class="btn btn-success btn-rounded pull-xs-right btn-sm">Set
                    Review <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div> -->

<!-- The Modal -->
<div id="myModalClasswork" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <!-- dialog -->
    <div class="modal-dialog">
        <form class="user" [formGroup]="classWorkForm" (ngSubmit)="onSubmit()">

            <!-- content -->
            <div class="modal-content">

                <!-- header -->
                <div class="modal-header">
                    <h1 id="myModalLabel" class="modal-title">
                        Modal title
                    </h1>
                </div>
                <!-- header -->

                <!-- body -->
                <div class="modal-body">
                    <div class=" form-group">
                        <label for="inputName"><span class="validator" *ngIf="workTitle.invalid && workTitle.touched">
                                Work Title is required</span></label>
                        <input type="text" class="form-control" id="inputWorkTitle" aria-describedby="workTitleHelp"
                            placeholder="Enter Work Title" formControlName="workTitle">
                    </div>

                    <div class=" form-group">
                        <label for="inputName"><span class="validator" *ngIf="points.invalid && points.touched">
                                Points/Items is required</span></label>
                        <input type="text" class="form-control" id="inputPoints" aria-describedby="pointsHelp"
                            placeholder="Enter Items/Points" formControlName="points">
                    </div>

                    <div class=" form-group">
                        <label for="inputName"><span class="validator"
                                *ngIf="instruction.invalid && instruction.touched">
                                instruction is required</span></label>
                        <input type="text" class="form-control" id="inputInstruction" aria-describedby="instructionHelp"
                            placeholder="Enter Instructions" formControlName="instruction">
                    </div>

                    <div class="form-group">
                        <div class="date-container">
                            <div class="input-group-container">
                                <input class="date-picker" placeholder="yyyy-mm-dd (Due Date)" name="dp"
                                    formControlName="dueDate" ngbDatepicker #d="ngbDatepicker">
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                                        class="fa fa-calendar"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class=" form-group">
                        <!-- <label for="inputName"><span class="validator" *ngIf="name.invalid && name.touched"> -->
                        <!-- Class Name is required</span></label> -->
                        <a (click)="file.click()" class="btn btn-primary btn-rounded">Upload</a> {{fileName}}
                        <input type="file" id="file" class="work-file" #file (change)="onFileChange($event)">
                    </div>
                </div>
                <!-- body -->

                <!-- footer -->
                <div class="modal-footer">
                    <!-- <button class="btn btn-secondary" data-dismiss="modal">
                        close
                    </button>
                    <button class="btn btn-default">
                        Default
                    </button> -->
                    <button class="btn btn-primary">
                        Submit
                    </button>
                    <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
                </div>
                <!-- footer -->
            </div>
        </form>
    </div>
</div>
<!-- dialog -->