<!-- <div class="container-fluid" style="background-color: rgba(0,0,0,0) !important;">
    <div class="card shadow mb-4" style="background-color: rgba(0,0,0,0) !important;">
        
    </div>
</div> -->

<div class="card col-xl-4 col-md-4 mb-4 classwork-list">
    <div class="reminders" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        <div class="new-body" style="padding: 20px;">
            <div class="classwork-title">
                <i class="fa fa-book" aria-hidden="true"></i> Classworks
                <a *ngIf="teacherAccount" class="add-classwork" data-toggle="modal" data-target="#myModalClasswork">
                    <i class="fa fa-plus add-reminder" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div>
            <div class="col align-items-center" style="background: #ffffff !important; padding-top: 15px; overflow-y: scroll; height: 63.5vh;">
                <div class="col" *ngIf="showSpinner">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="col" *ngIf="error">
                    <p class="no-classwork">{{errorMessage}}</p>
                </div>
                <div *ngFor="let work of classWork; let i = index" class="classwork-container">

                    <!-- Display notification for events here -->
                    <!-- Event # 1 -->
                    <!-- class="reminder-butt1" -->
                    <div *ngIf="!showSpinner" [ngClass]="classWorkStyle(i)">

                        <!-- Card Header - Accordion -->
                        <!-- <a href="#collapseCardExample" class="d-block card-header py-3 collapsed"
                            data-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary">{{work.title}} - Due
                                on:{{dueDateVal(work.dueDate)}}
                            </h6>
                        </a> -->
                        <a (click)="isCollapsed[i] = !isCollapsed[i]" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary work-title">{{work.title}}
                            </h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div [ngbCollapse]="!isCollapsed[i]" class="collapse" id="collapseCardExample">
                            <div class="classwork-body">
                                <p class="due work-details"> Due on:
                                    <span>{{dueDateVal(work.dueDate)}}</span> </p>
                                <p class="points work-details">Total Points:
                                    <span>{{work.points}}</span></p>
                                <p class="submit work-details">Total Submission: <span>5</span></p>
                                <p class="instructions">{{work.instruction}}</p>
                            </div>
                            <div class="btns-work ctr">
                                <a (click)="download(work.attachment, work.attachmentFilename)" class="btn btn-primary btn-rounded modal-buttons">Download</a>
                                <a [routerLink]="['/user/t/classroom/class-work/work-view']" (click)="viewDetails(work, i)" class="btn btn-primary btn-rounded modal-buttons">View Details</a>
                            </div>
                        </div>
                    </div>

                    <!-- PLEASE READ HERE -->
                    <!-- Add ngIf here. Show only if empty classwork -->
                    <!-- <div class="empty-work" >
                        {{errorMessage}}
                    </div> -->

                </div>
                <div *ngIf="teacherAccount" class="view ctr">
                    <!-- <p>
                        <a [routerLink]="['/teacher/class-details/class-work/quizzes']" class="btn btn-primary btn-rounded modal-buttons" data-toggle="modal" data-target="#myModalClasswork">
                            Quizzes
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card column col-xl-8 col-md-8 mb-8  classwork-list" style="padding-left: 20px !important;">
    <div class="reminders" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        <div class="new-body2" style="padding: 20px;">
            <div class="classwork-title">
                Classwork 101
                <a *ngIf="teacherAccount" class="review-classwork">
                    <i class="fa fa-plus add-reminder" aria-hidden="true"> <span> Classwork</span> </i>
                </a>
            </div>
        </div>
        <div>
            <div class="col align-items-center" style="background: #ffffff !important; padding-top: 15px; overflow-y: scroll; height: 63.5vh;">

            </div>
        </div>
    </div>
</div>
<!-- modal -->