<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table
    below. For more information about DataTables, please visit the
    <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.
  </p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Student List <a data-toggle="modal" data-target="#myModal"><i
            class="fas fa-fw fa-plus-circle"></i></a></h6>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="dataTable_length">
                <label>
                  Show
                  <select class="custom-select custom-select-sm form-control form-control-sm" [(ngModel)]="viewList">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_filter" id="dataTable_filter">
                <label for="Search">
                  Search:
                  <input type="search" class="form-control form-control-sm" aria-controls="dataTable"
                    [(ngModel)]="searchText" />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Status</th>
       
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Email</th>
            <th>name</th>
            <th>status</th>
       
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="
              let student of people
                | filter: searchText
                | paginate: { itemsPerPage: viewList, currentPage: p };
              let i = index
            ">
            <td>{{ student.email }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<!-- /.container-fluid -->


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Student</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
        class="user"
        [formGroup]="addStudentForm"
        (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label for="inputEmail">Email address <span class="validator" *ngIf="email.invalid && email.touched"> - Email is Required</span></label>
            <input required type="email" class="form-control" id="inputEmail" aria-describedby="email"
              placeholder="Enter email" formControlName="email">
              {{email.touched}}
              {{email.valid}}
          </div>
          <div class="form-group">
            <label for="inputFirstName">Firstname <span class="validator" *ngIf="firstname.invalid && firstname.touched"> - Firstname is required</span></label>
            <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstnameHelp"
              placeholder="Enter firstname" formControlName="firstname" formControlName="firstname">
          </div>
          <div class="form-group">
            <label for="inputMiddleName">Middle Name (Optional)</label>
            <input type="text" class="form-control" id="inputMiddleName" aria-describedby="middlenameHelp"
              placeholder="Enter email" formControlName="middlename">
            <small id="middlenameHelp" class="form-text text-muted">If you dont have one, you can just skip this field.</small>
          </div>
          <div class="form-group">
            <label for="inputLastName">Last Name <span class="validator" *ngIf="lastname.invalid && lastname.touched"> - Lastname is required</span></label>
            <input type="text" class="form-control" id="inputLastName" aria-describedby="lastnameHelp"
              placeholder="Enter email" formControlName="lastname">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password <span class="validator" *ngIf="password.invalid && password.touched"> - Input 6 character or more</span></label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
          </div>
          <div class="form-group">
            <label for="inputReTypePassword">Password <span class="validator" *ngIf="repassword.invalid && repassword.touched"> - Input 6 character or more</span></label>
            <input type="password" class="form-control" id="inputReTypePassword" placeholder="Password" formControlName="repassword">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="addStudentForm.valid === false">Submit</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>