<div style="width: 100%; height: 100%; background: #1b1a3d; position: absolute">

    <div class="contenido">

        <div class="top-border-container">
            <div class="top-border" style="background-color: #53A5EE;">
            </div>
            <div class="top-border" style="background-color: #ED787D;">
            </div>
            <div class="top-border" style="background-color: #30C79E;">
            </div>
        </div>

        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Create Password</li>
            <li class="active">Verify Details</li>
            <li class="active">Add Students</li>
        </ul>

        <h1>ADD STUDENT DETAILS</h1>
        <p class="subtitle">Now it's time to add your student.</p>
        <form *ngIf="addStudentForm" [formGroup]="addStudentForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" placeholder="First Name" class="form-control" formControlName="firstname" />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Last Name" class="form-control" formControlName="lastname" />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Email Address" class="form-control" formControlName="email" />
            </div>

            <p style="letter-spacing: 1px;">We will be sending a <span style="font-weight: bold;">link</span> to the
                <br />
                <span style="font-weight: bold;">email address</span> of your <span style="font-weight: bold;">student.</span></p>

            <button [routerLink]="['/user/p']">ADD STUDENT</button>
            <button [routerLink]="['/user/p']" class="btn-skip">SKIP FOR NOW</button>
        </form>

    </div>
</div>