.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 45px;
    max-height: 500px;
    overflow: auto;
}

.tg {
    border-color: #ccc;
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
}
.tg td {
    background-color: #fff;
    border-width: 1px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 10px;
}
.tg th {
    background-color: #f0f0f0;
    border-width: 1px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 10px;
}
.tg .tg-aa13 {
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
}
.tg .tg-wp8o {
    text-align: center;
    vertical-align: middle;
}
.tg .tg-73oq {
    text-align: center;
    background-color: #00b289;
    color: #f0f0f0;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 600;
    text-transform: capitalize;
}

.tg {
    thead {
        tr {
            .tg-73oq {
                position: sticky;
                left: -1px;
                top: -1px;
                height: 60px;
            }
        }
    }
    tbody {
        tr {
            .tg-73oq {
                position: sticky;
                left: -1px;
                margin-right: 5px;
                box-shadow: #333;
            }
        }
        tr:hover {
            td {
                background: #00b288 !important;
                color: #ffffff !important;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
}

.header {
    text-align: center;
    background-color: #00b289;
    color: #f0f0f0;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%
}
