<div class="row">
    <div class="header">My Grades</div>
    <table class="tg">
        <!-- <thead>
            <tr>
                <th class="tg-73oq" style="z-index: 99;width: 100%;">My Grades</th>
            </tr>
        </thead> -->
        <tbody>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>
            <tr>
                <td class="tg-73oq">Student 1</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
                <td class="tg-aa13">98/100</td>
                <td class="tg-wp8o">98/100</td>
            </tr>

        </tbody>
    </table>
</div>