<div class="subject-details">
  <div class="column">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-12">
      <div class="shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="subject-title text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Subject 1 Grade 2
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                0 Students
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-md-12 mb-12">
      <div class="row">
        <div class="reminders col-xl-4 col-md-4 mb-4">
          <div class="shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="subject-title text-xs font-weight-bold text-primary text-uppercase mb-1"
                  >
                    Reminder
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    No Work Due
                  </div>
                  <div class="view">
                    View All
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column col-xl-8 col-md-8 mb-8">
          <div class="post-box">
            <div class="post-card">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="body-field post-field">
                      <div class="user-image">
                        <img
                          class="rounded-circle"
                          src="../../../../../../../assets/images/profile.jpg"
                          alt=""
                        />
                      </div>
                      <div class="user-post">
                        <textarea
                          (focus)="myFocusVar = true"
                          (blur)="myFocusVar = false"
                          placeholder="Say something to your class"
                        ></textarea
                        ><br />
                      </div>
                    </div>
                    <hr />
                    <div class="footer">
                      <div class="select-file">
                        <input type="file" accept="image/*" class="file-upload" #file />
                        <button (click)="file.click()" class="button-trigger"><i class="fa fa-paperclip"></i></button>
                      </div>
                      <div class="submit-post text-right">
                        <button type="submit">
                          Post
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-box">
            <div class="posted-card">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="post-header">
                      <div class="card-image">
                        <img
                          class="rounded-circle"
                          src="../../../../../../../assets/images/profile.jpg"
                          alt=""
                        />
                      </div>
                      <div class="card-user">
                        <div class="card-name">Wilver Deypalubos</div>
                        <div class="card-date">April 18 2020</div>
                      </div>
                    </div>
                    <div class="post-content">
                      This is a post body
                    </div>
                    <hr />
                    <div class="post-comment">
                      <input type="text" placeholder="write a comment" />
                    </div>
                    <hr />
                    <div class="comments">
                      <div
                        class="user-comment"
                        *ngFor="let comment of comments"
                      >
                        <div class="comment-image">
                          <img
                            class="rounded-circle"
                            src="../../../../../../../assets/images/profile.jpg"
                            alt=""
                          />
                        </div>
                        <div class="comment-content">
                          <span class="user-name">{{ comment.user }}</span>
                          {{ comment.comment }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
