<form *ngIf="setEventsForm" [formGroup]="setEventsForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <p class="group">
      <input type="text" id="inputTitle"  formControlName="title" required>
      <label for="inputTitle">Title</label>
    </p>
    <p class="group">
      <input type="text" id="inputDescription" formControlName="description" required>
      <label for="inputDescription">Description</label>
    </p>
    <p class="group">
      <input type="text" id="inputStartDate" formControlName="startDate" required>
      <label for="inputStartDate">Start Date</label>
    </p>
    <p class="group">
      <input type="text" id="inputEndDate" formControlName="endDate" required>
      <label for="inputEdnDate">End Date</label>
    </p>
    <input type="submit" value="Set Event">
  </div>
</form>

  <!-- [disabled]="loading" [class.spinner]="loading" -->
  <!-- [disabled]="loading" -->