<form class="set-events" *ngIf="setEventsForm" [formGroup]="setEventsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Title</label>
        <input type="title" class="form-control form-control-title" id="inputTitle"
          aria-describedby="titleHelp" placeholder="Enter Event Title..." formControlName="title" />
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="desctiption" class="form-control form-control-description" id="inputDescription"
          aria-describedby="descriptionHelp" placeholder="Enter Event Description..." formControlName="description" />
      </div>
      <div class="form-group">
        <label>Start Date</label>
        <input type="start-date" class="form-control form-control-start" id="inputStartDate"
          aria-describedby="startDateHelp" placeholder="Enter Start Date..." formControlName="startDate" />
      </div>
      <div class="form-group">
        <label>End Date</label>
        <input type="end-date" class="form-control form-control-end" id="inputEndDate"
          aria-describedby="endDateHelp" placeholder="Enter End Date..." formControlName="endDate" />
      </div>
      <!-- [disabled]="loading" [class.spinner]="loading" -->
      <!-- [disabled]="loading" -->
      <button type="submit" class="btn btn-primary btn-user btn-block" >Set Event</button>
</form>