<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="classwork">
                <div class="card tasks left">
                    <div class="card-title">
                        Tasks
                    </div>
                    <div class="card-body">
                        <div class="task-list">
                            <div class="task-title">Task Title</div>
                            <div class="task-view">View</div>
                        </div>
                    </div>
                </div>
                <!-- Event # 1 -->
                <div class="card class-work-card center">
                    <div class="card-title">
                        <div class="title-name">Class Work Title</div>
                        <div class="view-details"><a>View</a></div>
                    </div>
                    <div class="card-body">
                        <div class="tasked-student">
                            <div class="submitted-task">
                                <div class="submit-count">
                                    0
                                </div>
                                <div class="footer-title">
                                    Submitted
                                </div>
                            </div>
                            <div class="vl"></div>
                            <div class="student-assigned">
                                <div class="student-count">
                                    0
                                </div>
                                <div class="footer-title">
                                    Student
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tasks right">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <form class="user" [formGroup]="inviteForm" (ngSubmit)="onSubmit()"> -->
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Work</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <!-- <div class="modal-body">
                    <input type="search" placeholder="Type a username" class="search-students"
                        formControlName="username" list="mylist">
                    <datalist id="mylist">
                        <option *ngFor="let students of student" value="{{students.username}}">
                    </datalist>

                </div>
                <div class="modal-footer">
                    <button >Send Invite</button>
                </div>
            </form> -->


            <!-- <form class="user" [formGroup]="addClassFOrm" (ngSubmit)="onSubmit()">

                <div class="modal-body">
                    <div class=" form-group">
                        <label for="inputName"><span class="validator" *ngIf="name.invalid && name.touched">
                                Class Name is required</span></label>
                        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp"
                            placeholder="Enter Class Name" formControlName="name">
                    </div>
          </form> -->



        </div>
    </div>
</div>