<div class="cw">
    <div class="content">
        <div class="add-work"><button><i class="fa fa-plus"></i> Create</button></div>
        <div class="cw-box">
            <div class="cw-card">
                <div class="cw-list">

                    <div class="cw-item">
                        <div class="task-file">task</div>
                        <div class="task-name">name</div>
                        <div class="cw-date">file</div>
                    </div>
                    <div class="cw-item">
                        <div class="task-file">task</div>
                        <div class="task-name">name</div>
                        <div class="cw-date">file</div>
                    </div>
                    <div class="cw-item">
                        <div class="task-file">task</div>
                        <div class="task-name">name</div>
                        <div class="cw-date">file</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>