<form class="user">

    <!-- content -->
    <div class="modal-content">

        <!-- header -->
        <div class="modal-header">
            <h1 id="myModalLabel" class="modal-title">
                Update Classwork
            </h1>
        </div>
        <!-- header -->

        <!-- body -->
        <div class="modal-body">
       
        </div>
        <!-- body -->

        <!-- footer -->
        <div class="modal-footer">
            <!-- <button class="btn btn-secondary" data-dismiss="modal">
                close
            </button>
            <button class="btn btn-default">
                Default
            </button> -->
            <button class="btn btn-primary">
                Submit
            </button>
            <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
        </div>
        <!-- footer -->
    </div>
</form>